﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Departments</span> <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Department</button></h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">

                <div class="col-md-12" style="padding-left:0px;padding-right:5px">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Department Name</th>
                                                    <th>Short Name</th>
                                                    <th>Contact Person</th>
                                                    <th>Region</th>
                                                    <th>Teams</th>
                                                    <th>Status</th>
                                                    <th style="text-align:center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblDepartments"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>










@* --------------------------------------- Departments -------------------------------------------------  *@






<div class="fade modal adminDepartments-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New Department</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">


                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label>Department:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <input id="txtName" type="text" class="form-control requiredDepartment cleanDepartmentField" placeholder="Department Name...">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label style="">Contact Person:</label>
                                    <div class="input-group date" style="width:100%">
                                        <button type="button" style="width:100%;" id="btnDirector" data-id="" class="btn btnAddMember btn-flat btn-default pull-right"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add User</button>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label style="">Email Address:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input id="txtEmail" type="text" class="form-control requiredDepartment cleanDepartmentField" placeholder="Email Address...">
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-6" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label style="">Department Short Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <input id="txtShortName" type="text" class="form-control requiredDepartment cleanDepartmentField" placeholder="Department Abbreviation...">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label style="">Region:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <select class="form-control cleanDepartmentField " id="cboRegions">
                                            <option value="">-- Choose Region --</option>
                                   
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label style="">Phone Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <input id="txtPhone" type="text" class="form-control requiredDepartment cleanDepartmentField" placeholder="Phone Number...">
                                    </div>
                                </div>


                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddDepartment" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>







@* --------------------------------------- Departments -------------------------------------------------  *@





<div class="fade modal usersmodallg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg" style="margin-top:5px;">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h5 class="m-t-0" style="padding-top:-5px;padding-bottom:5px;"> <span class=""> Select User</span></h5>
                        </div>
                        <div class="col-md-2">
                            <input id="txtSearchh" type="text" class="form-control" style="padding-top:-5px;padding-bottom:5px;height:22px;font-size:12px;text-align:center" placeholder="search">
                        </div>
                        <div class="col-md-5">
                            <button type="button" style="min-width:130px;padding-top:-5px;padding-bottom:5px;" id="btnAddNewUser" class="btn btn-flat btn-warning pull-right btn-xs">Create New User</button>
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">


                                <div class="col-md-12" id="listUsersAll" style="margin-bottom:10px;margin-top:10px;min-height:350px;max-height:400px;overflow-y:auto;padding-top:5px">


                                </div>

                            </div>
                        </div>




                    </div>

                    <div class="col-md-12">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;display:none" id="btnPickOne" class="btn btn-flat btn-warning pull-right btn-sm">Select</button>

                    </div>




                </div>

            </div>



        </div>

    </div>

</div>









<div class="fade modal adminUsers-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New User</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">


                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label>User Role:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredUser cleanUserField" id="cboRole">
                                            <option value="">-- Choose Role --</option>

                                        </select>
                                    </div>
                                    <!-- /.input group -->
                                </div>


                                <div class="form-group">
                                    <label style="">Email Address:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input id="txtEmailAddress" type="text" class="form-control requiredUser cleanUserField" placeholder="Email...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Cellphone Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <input id="txtCellNumber" onkeypress="validate(event)" maxlength="10" type="text" class="form-control cleanUserField" placeholder="Cellphone...">
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label style="">ID Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtIDNumber" onkeypress="validate(event)" maxlength="13" type="text" class="form-control cleanUserField" placeholder="ID Number...">
                                    </div>
                                </div>


                                <div class="form-group clsPassword">
                                    <label>Password:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="User password...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-6" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">


                                <div class="form-group">
                                    <label style="">Title:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember requiredUser cleanUserField" id="cboTitle">
                                            <option value="">-- Choose Title --</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">First Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtFirstName" type="text" class="form-control requiredUser cleanUserField" placeholder="First Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Last Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtLastName" type="text" class="form-control requiredUser cleanUserField" placeholder="Last Name...">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label style="">Gender:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember cleanUserField" id="cboGender">
                                            <option value="">-- Choose Gender --</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="form-group clsPassword">
                                    <label>Confirm Password:</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtConfirmPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Re-type password...">
                                    </div>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddUser" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>








































@* ----------------------------- Choose Member ------------------------------------- *@




<div class="fade modal listMember-modal-lg in" id="listMember" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-warehouse-alt"></i>Member</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close" id=""><span class="area-hidden"><i class="fa fa-times-circle"></i></span></button>
            </div>

            <div class="modal-body" id="">



                <div class="row">
                    <div class="col-md-12">

                        <div class="panel-inverse" data-sortable-id="ui-general-1">
                            <div class="panel-heading ui-sortable-handle" style="height: 30px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                @*                    <div class="panel-heading-btn">
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    </div>*@
                                <h4 class="panel-title"><i class="fas fa-search"></i>Search</h4>
                            </div>


                            <div class="panel-body" style="background-color: #eee;">

                                <div class="form-group col-md-3 pull-left">
                                    <label>Search With:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-search-plus"></i>
                                        </div>
                                        <select class="form-control" id="cboSearchWith">
                                            <option value="person_id_number">ID Number</option>
                                            <option value="contact_cellphone">Cellphone Number</option>
                                            <option value="person_first_name">First Name</option>
                                            <option value="person_last_name">Last Name</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group col-md-5 pull-left">
                                    <label>Search:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <input id="txtSearch" type="text" class="form-control" placeholder="Search Here...">
                                    </div>
                                </div>


                                <div class="form-group col-md-2 pull-left">
                                    <label>
                                        <br />
                                    </label>
                                    <div class="input-group date">
                                        <button type="button" id="btnSearchFilter" class="btn btn-flat btn-success bg-green"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                                    </div>
                                </div>

                                <div class="form-group col-md-2 pull-left">
                                    <label>
                                        <br />
                                    </label>
                                    <div class="input-group date">
                                        <button type="button" id="btnRefresh" class="btn btnRefresh btn-flat btn-default bg-dark text-white"><i class="fas fa-sync-alt"></i>Refresh</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>




                <br />
                <br />





                <div class="row">
                    <div class="col-md-12" id="">

                        <div class="table-responsive">
                            <table class="table table-striped m-b-0" id="">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Cell Number</th>
                                        <th>Nationality</th>
                                        <th>Gender</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="tblMembers"></tbody>
                            </table>
                            <h3 id="spResult" class="box-title" style="text-align: center; color: black; display: none;"></h3>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>



@* ----------------------------- Choose Member ends ------------------------------------- *@