﻿<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Admin</a></li>
        <li class="breadcrumb-item active">Modules</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Modules</h1>
    <!-- end page-header -->




    <div class="row">
        <div class="col-md-8">

            <div class="btn-group pull-left">
                <button type="button" class="btn btn-flat btn-green bg-green" id="btnAddNew"><i class="fa fa-plus" aria-hidden="true"></i>Add new module</button>
            </div>

        </div>
        <div class="col-md-4">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search: type keywords e.g. name" id="txtSearchModule">

                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat bg-green" id="btnSearch">Search!</button>
                </span>
            </div>
        </div>
    </div>



    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="table-basic-5">
        <!-- begin panel-heading -->
        <div class="panel-heading ui-sortable-handle">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                @*                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
            </div>
            <h4 class="panel-title">Modules</h4>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <!-- begin table-responsive -->
            <div class="table-responsive">
                <table class="table table-striped m-b-0" id="rowModules">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Module ID</th>
                            <th>Module</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblModules">
                    </tbody>
                </table>
            </div>
            <!-- end table-responsive -->
        </div>
        <!-- end panel-body -->

    </div>
    <!-- end panel -->
</div>




