﻿<div id="content" class="content content-full-width" style="margin-top: -17px;">
    <!-- begin profile -->
    <div class="profile">
        <div class="profile-header">
            <!-- BEGIN profile-header-cover -->
            <div class="profile-header-cover"></div>
            <!-- END profile-header-cover -->
            <!-- BEGIN profile-header-content -->
            <div class="profile-header-content">
                <!-- BEGIN profile-header-img -->
                <div class="profile-header-img">
                    <img class="imgUserProfileImage" src="@Request.Cookies["ASCruiseSafeUser"]["profile_view_image"]" />
                    <img class="imgDefaultProfileImage" style="display:none;" src="~/Content/images/default-user.png" />
                </div>
                <!-- END profile-header-img -->
                <!-- BEGIN profile-header-info -->
                <div class="profile-header-info">
                    <h4 class="m-t-10 m-b-5">@Request.Cookies["ASCruiseSafeUser"]["fullname"]</h4>
                    <p class="m-b-10">@Request.Cookies["ASCruiseSafeUser"]["MunicipalityName"]</p>
                    @*                    <a href="#" class="btn btn-xs btn-yellow">Edit Profile</a>*@
                </div>
                <!-- END profile-header-info -->
            </div>
            <!-- END profile-header-content -->
            <!-- BEGIN profile-header-tab -->
            <ul class="profile-header-tab nav nav-tabs" style="background-color: #242a30;">
                <li class="nav-item"><a href="#profile-about" class="nav-link active show" data-toggle="tab">My Profile</a></li>
                <li class="nav-item"><a href="#change-password" class="nav-link" data-toggle="tab">Change Password</a></li>
                <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">Upload Picture</a></li>
            </ul>
            <!-- END profile-header-tab -->
        </div>
    </div>
    <!-- end profile -->
    <!-- begin profile-content -->
    <div class="profile-content">
        <!-- begin tab-content -->
        <div class="tab-content p-0">


            <div class="tab-pane fade active show" id="profile-about">




                <form method="POST" class="form-control-with-bg">
                    <!-- begin wizard -->
                    <div id="wizard" class="sw-main sw-theme-default">
                        <!-- begin wizard-step -->
                        <ul class="nav nav-tabs step-anchor">
                            <li class="col-md-6 col-sm-4 col-6 liProfile active" id="liPersonalDetails">
                                <a href="#as-step-1">
                                    <span class="number"><i class="fas fa-user"></i></span>
                                    <span class="info text-ellipsis">Personal Details
									<small class="text-ellipsis">First Name, Last Name, Cell Number, ID Number etc</small>
                                    </span>
                                </a>
                            </li>
                            <li class="col-md-6 col-sm-4 col-6 liProfile" id="liContactAddress">
                                <a href="#as-step-2">
                                    <span class="number"><i class="fas fa-envelope"></i></span>
                                    <span class="info text-ellipsis">Contact/Address Details
									<small class="text-ellipsis">Cellphone, Email and address</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- end wizard-step -->
                        <!-- begin wizard-content -->
                        <div class="sw-container tab-content" style="min-height: 366px;">
                            <!-- begin step-1 -->
                            <div id="as-personalDetails" class="step-content" style="display: block;">
                                <!-- begin fieldset -->
                                <fieldset>
                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin col-8 -->
                                        <div class="col-md-9">
                                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Personal info about yourself</legend>

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Title</label>
                                                <div class="col-md-6">
                                                    <select class="form-control requiredMember requiredPersonal" id="cboTitle">
                                                        <option value="">-- Choose Title --</option>
                                                        <option value="Mr">Mr</option>
                                                        <option value="Mrs">Mrs</option>
                                                        <option value="Miss">Miss</option>
                                                        <option value="Ms">Ms</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">First Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" id="txtFirstName" name="firstname" placeholder="Siya" class="form-control requiredMember requiredPersonal">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Last Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" id="txtLastName" name="lastname" placeholder="Khanyile" class="form-control requiredMember requiredPersonal">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Gender</label>
                                                <div class="col-md-6">
                                                    <select class="form-control requiredMember requiredPersonal" id="cboGender">
                                                        <option value="">-- Choose Gender --</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">ID Number</label>
                                                <div class="col-md-6">
                                                    <input id="txtIDNumber" onkeypress="validate(event)" type="text" class="form-control requiredMember requiredPersonal" placeholder="ID Nunmber...">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->
                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Date of Birth</label>
                                                <div class="col-md-6">
                                                    <input id="txtDOB" type="text" class="form-control datepicker requiredMember requiredPersonal" placeholder="Date Of Birth...">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Marital Status:</label>
                                                <div class="col-md-6">
                                                    <select class="form-control requiredMember requiredPersonal" id="cboMaritalStatus">
                                                        <option value="">-- Choose Marital Status --</option>
                                                        <option value="Single">Single</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Devorced">Devorced</option>
                                                        <option value="Widowed">Widowed</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->


                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Citizenship:</label>
                                                <div class="col-md-6">
                                                    <select class="form-control requiredMember requiredPersonal" id="cboCitizenship">
                                                        <option value="">-- Choose Citizenship --</option>
                                                        <option value="South African Citizen">South African Citizen</option>
                                                        <option value="Not South African, with a work permit">Not South African, with a work permit</option>
                                                        <option value="Not South African, No work permit">Not South African, No work permit</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->


                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10" id="dvShoNationality" style="display: none;">
                                                <label class="col-md-3 text-md-left col-form-label">Nationality:</label>
                                                <div class="col-md-6">
                                                    <select class="form-control requiredMember requiredPersonal" id="cboNationality">
                                                        <option value="">-- Choose Nationality --</option>
                                                        <option value="AF">Afghanistan</option>
                                                        <option value="AX">Åland</option>
                                                        <option value="AL">Albania</option>
                                                        <option value="DZ">Algeria</option>
                                                        <option value="AS">American Samoa</option>
                                                        <option value="AD">Andorra</option>
                                                        <option value="AO">Angola</option>
                                                        <option value="AI">Anguilla</option>
                                                        <option value="AQ">Antarctica</option>
                                                        <option value="AG">Antigua and Barbuda</option>
                                                        <option value="AR">Argentina</option>
                                                        <option value="AM">Armenia</option>
                                                        <option value="AW">Aruba</option>
                                                        <option value="AU">Australia</option>
                                                        <option value="AT">Austria</option>
                                                        <option value="AZ">Azerbaijan</option>
                                                        <option value="BS">Bahamas</option>
                                                        <option value="BH">Bahrain</option>
                                                        <option value="BD">Bangladesh</option>
                                                        <option value="BB">Barbados</option>
                                                        <option value="BY">Belarus</option>
                                                        <option value="BE">Belgium</option>
                                                        <option value="BZ">Belize</option>
                                                        <option value="BJ">Benin</option>
                                                        <option value="BM">Bermuda</option>
                                                        <option value="BT">Bhutan</option>
                                                        <option value="BO">Bolivia</option>
                                                        <option value="BQ">Bonaire</option>
                                                        <option value="BA">Bosnia and Herzegovina</option>
                                                        <option value="BW">Botswana</option>
                                                        <option value="BV">Bouvet Island</option>
                                                        <option value="BR">Brazil</option>
                                                        <option value="IO">British Indian Ocean Territory</option>
                                                        <option value="VG">British Virgin Islands</option>
                                                        <option value="BN">Brunei</option>
                                                        <option value="BG">Bulgaria</option>
                                                        <option value="BF">Burkina Faso</option>
                                                        <option value="BI">Burundi</option>
                                                        <option value="KH">Cambodia</option>
                                                        <option value="CM">Cameroon</option>
                                                        <option value="CA">Canada</option>
                                                        <option value="CV">Cape Verde</option>
                                                        <option value="KY">Cayman Islands</option>
                                                        <option value="CF">Central African Republic</option>
                                                        <option value="TD">Chad</option>
                                                        <option value="CL">Chile</option>
                                                        <option value="CN">China</option>
                                                        <option value="CX">Christmas Island</option>
                                                        <option value="CC">Cocos [Keeling] Islands</option>
                                                        <option value="CO">Colombia</option>
                                                        <option value="KM">Comoros</option>
                                                        <option value="CK">Cook Islands</option>
                                                        <option value="CR">Costa Rica</option>
                                                        <option value="HR">Croatia</option>
                                                        <option value="CU">Cuba</option>
                                                        <option value="CW">Curacao</option>
                                                        <option value="CY">Cyprus</option>
                                                        <option value="CZ">Czech Republic</option>
                                                        <option value="CD">Democratic Republic of the Congo</option>
                                                        <option value="DK">Denmark</option>
                                                        <option value="DJ">Djibouti</option>
                                                        <option value="DM">Dominica</option>
                                                        <option value="DO">Dominican Republic</option>
                                                        <option value="TL">East Timor</option>
                                                        <option value="EC">Ecuador</option>
                                                        <option value="EG">Egypt</option>
                                                        <option value="SV">El Salvador</option>
                                                        <option value="GQ">Equatorial Guinea</option>
                                                        <option value="ER">Eritrea</option>
                                                        <option value="EE">Estonia</option>
                                                        <option value="ET">Ethiopia</option>
                                                        <option value="FK">Falkland Islands</option>
                                                        <option value="FO">Faroe Islands</option>
                                                        <option value="FJ">Fiji</option>
                                                        <option value="FI">Finland</option>
                                                        <option value="FR">France</option>
                                                        <option value="GF">French Guiana</option>
                                                        <option value="PF">French Polynesia</option>
                                                        <option value="TF">French Southern Territories</option>
                                                        <option value="GA">Gabon</option>
                                                        <option value="GM">Gambia</option>
                                                        <option value="GE">Georgia</option>
                                                        <option value="DE">Germany</option>
                                                        <option value="GH">Ghana</option>
                                                        <option value="GI">Gibraltar</option>
                                                        <option value="GR">Greece</option>
                                                        <option value="GL">Greenland</option>
                                                        <option value="GD">Grenada</option>
                                                        <option value="GP">Guadeloupe</option>
                                                        <option value="GU">Guam</option>
                                                        <option value="GT">Guatemala</option>
                                                        <option value="GG">Guernsey</option>
                                                        <option value="GN">Guinea</option>
                                                        <option value="GW">Guinea-Bissau</option>
                                                        <option value="GY">Guyana</option>
                                                        <option value="HT">Haiti</option>
                                                        <option value="HM">Heard Island and McDonald Islands</option>
                                                        <option value="HN">Honduras</option>
                                                        <option value="HK">Hong Kong</option>
                                                        <option value="HU">Hungary</option>
                                                        <option value="IS">Iceland</option>
                                                        <option value="IN">India</option>
                                                        <option value="ID">Indonesia</option>
                                                        <option value="IR">Iran</option>
                                                        <option value="IQ">Iraq</option>
                                                        <option value="IE">Ireland</option>
                                                        <option value="IM">Isle of Man</option>
                                                        <option value="IL">Israel</option>
                                                        <option value="IT">Italy</option>
                                                        <option value="CI">Ivory Coast</option>
                                                        <option value="JM">Jamaica</option>
                                                        <option value="JP">Japan</option>
                                                        <option value="JE">Jersey</option>
                                                        <option value="JO">Jordan</option>
                                                        <option value="KZ">Kazakhstan</option>
                                                        <option value="KE">Kenya</option>
                                                        <option value="KI">Kiribati</option>
                                                        <option value="XK">Kosovo</option>
                                                        <option value="KW">Kuwait</option>
                                                        <option value="KG">Kyrgyzstan</option>
                                                        <option value="LA">Laos</option>
                                                        <option value="LV">Latvia</option>
                                                        <option value="LB">Lebanon</option>
                                                        <option value="LS">Lesotho</option>
                                                        <option value="LR">Liberia</option>
                                                        <option value="LY">Libya</option>
                                                        <option value="LI">Liechtenstein</option>
                                                        <option value="LT">Lithuania</option>
                                                        <option value="LU">Luxembourg</option>
                                                        <option value="MO">Macao</option>
                                                        <option value="MK">Macedonia</option>
                                                        <option value="MG">Madagascar</option>
                                                        <option value="MW">Malawi</option>
                                                        <option value="MY">Malaysia</option>
                                                        <option value="MV">Maldives</option>
                                                        <option value="ML">Mali</option>
                                                        <option value="MT">Malta</option>
                                                        <option value="MH">Marshall Islands</option>
                                                        <option value="MQ">Martinique</option>
                                                        <option value="MR">Mauritania</option>
                                                        <option value="MU">Mauritius</option>
                                                        <option value="YT">Mayotte</option>
                                                        <option value="MX">Mexico</option>
                                                        <option value="FM">Micronesia</option>
                                                        <option value="MD">Moldova</option>
                                                        <option value="MC">Monaco</option>
                                                        <option value="MN">Mongolia</option>
                                                        <option value="ME">Montenegro</option>
                                                        <option value="MS">Montserrat</option>
                                                        <option value="MA">Morocco</option>
                                                        <option value="MZ">Mozambique</option>
                                                        <option value="MM">Myanmar [Burma]</option>
                                                        <option value="NA">Namibia</option>
                                                        <option value="NR">Nauru</option>
                                                        <option value="NP">Nepal</option>
                                                        <option value="NL">Netherlands</option>
                                                        <option value="NC">New Caledonia</option>
                                                        <option value="NZ">New Zealand</option>
                                                        <option value="NI">Nicaragua</option>
                                                        <option value="NE">Niger</option>
                                                        <option value="NG">Nigeria</option>
                                                        <option value="NU">Niue</option>
                                                        <option value="NF">Norfolk Island</option>
                                                        <option value="KP">North Korea</option>
                                                        <option value="MP">Northern Mariana Islands</option>
                                                        <option value="NO">Norway</option>
                                                        <option value="OM">Oman</option>
                                                        <option value="PK">Pakistan</option>
                                                        <option value="PW">Palau</option>
                                                        <option value="PS">Palestine</option>
                                                        <option value="PA">Panama</option>
                                                        <option value="PG">Papua New Guinea</option>
                                                        <option value="PY">Paraguay</option>
                                                        <option value="PE">Peru</option>
                                                        <option value="PH">Philippines</option>
                                                        <option value="PN">Pitcairn Islands</option>
                                                        <option value="PL">Poland</option>
                                                        <option value="PT">Portugal</option>
                                                        <option value="PR">Puerto Rico</option>
                                                        <option value="QA">Qatar</option>
                                                        <option value="CG">Republic of the Congo</option>
                                                        <option value="RE">Réunion</option>
                                                        <option value="RO">Romania</option>
                                                        <option value="RU">Russia</option>
                                                        <option value="RW">Rwanda</option>
                                                        <option value="BL">Saint Barthélemy</option>
                                                        <option value="SH">Saint Helena</option>
                                                        <option value="KN">Saint Kitts and Nevis</option>
                                                        <option value="LC">Saint Lucia</option>
                                                        <option value="MF">Saint Martin</option>
                                                        <option value="PM">Saint Pierre and Miquelon</option>
                                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                                        <option value="WS">Samoa</option>
                                                        <option value="SM">San Marino</option>
                                                        <option value="ST">São Tomé and Príncipe</option>
                                                        <option value="SA">Saudi Arabia</option>
                                                        <option value="SN">Senegal</option>
                                                        <option value="RS">Serbia</option>
                                                        <option value="SC">Seychelles</option>
                                                        <option value="SL">Sierra Leone</option>
                                                        <option value="SG">Singapore</option>
                                                        <option value="SX">Sint Maarten</option>
                                                        <option value="SK">Slovakia</option>
                                                        <option value="SI">Slovenia</option>
                                                        <option value="SB">Solomon Islands</option>
                                                        <option value="SO">Somalia</option>
                                                        <option value="ZA">South Africa</option>
                                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                        <option value="KR">South Korea</option>
                                                        <option value="SS">South Sudan</option>
                                                        <option value="ES">Spain</option>
                                                        <option value="LK">Sri Lanka</option>
                                                        <option value="SD">Sudan</option>
                                                        <option value="SR">Suriname</option>
                                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                                        <option value="SZ">Swaziland</option>
                                                        <option value="SE">Sweden</option>
                                                        <option value="CH">Switzerland</option>
                                                        <option value="SY">Syria</option>
                                                        <option value="TW">Taiwan</option>
                                                        <option value="TJ">Tajikistan</option>
                                                        <option value="TZ">Tanzania</option>
                                                        <option value="TH">Thailand</option>
                                                        <option value="TG">Togo</option>
                                                        <option value="TK">Tokelau</option>
                                                        <option value="TO">Tonga</option>
                                                        <option value="TT">Trinidad and Tobago</option>
                                                        <option value="TN">Tunisia</option>
                                                        <option value="TR">Turkey</option>
                                                        <option value="TM">Turkmenistan</option>
                                                        <option value="TC">Turks and Caicos Islands</option>
                                                        <option value="TV">Tuvalu</option>
                                                        <option value="UM">U.S. Minor Outlying Islands</option>
                                                        <option value="VI">U.S. Virgin Islands</option>
                                                        <option value="UG">Uganda</option>
                                                        <option value="UA">Ukraine</option>
                                                        <option value="AE">United Arab Emirates</option>
                                                        <option value="GB">United Kingdom</option>
                                                        <option value="US">United States</option>
                                                        <option value="UY">Uruguay</option>
                                                        <option value="UZ">Uzbekistan</option>
                                                        <option value="VU">Vanuatu</option>
                                                        <option value="VA">Vatican City</option>
                                                        <option value="VE">Venezuela</option>
                                                        <option value="VN">Vietnam</option>
                                                        <option value="WF">Wallis and Futuna</option>
                                                        <option value="EH">Western Sahara</option>
                                                        <option value="YE">Yemen</option>
                                                        <option value="ZM">Zambia</option>
                                                        <option value="ZW">Zimbabwe</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->


                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Home Language:</label>
                                                <div class="col-md-6">
                                                    <select id="cboHomeLanguage" class="form-control cleanField requiredMember requiredPersonal">
                                                        <option value="">-- Select language --</option>
                                                        <option value="English">English</option>
                                                        <option value="Afrikaans">Afrikaans</option>
                                                        <option value="IsiNdebele">IsiNdebele</option>
                                                        <option value="IsiXhosa">IsiXhosa</option>
                                                        <option value="IsiZulu">IsiZulu</option>
                                                        <option value="Sepedi">Sepedi</option>
                                                        <option value="Sesotho">Sesotho</option>
                                                        <option value="Setswana">Setswana</option>
                                                        <option value="SiSwati">SiSwati</option>
                                                        <option value="Tshivenda">Tshivenda</option>
                                                        <option value="Xitsonga">Xitsonga</option>
                                                        <option value="German">German</option>
                                                        <option value="French">French</option>
                                                        <option value="Italian">Italian</option>
                                                        <option value="Spanish">Spanish</option>
                                                        <option value="Dutch">Dutch</option>
                                                        <option value="Bulgarian">Bulgarian</option>
                                                        <option value="Chinese">Chinese</option>
                                                        <option value="Danish">Danish</option>
                                                        <option value="Finnish">Finnish</option>
                                                        <option value="Greek">Greek</option>
                                                        <option value="Hungarian">Hungarian</option>
                                                        <option value="Hindi">Hindi</option>
                                                        <option value="Japanese">Japanese</option>
                                                        <option value="Croat">Croat</option>
                                                        <option value="Norwegian">Norwegian</option>
                                                        <option value="Polish">Polish</option>
                                                        <option value="Portuguese">Portuguese</option>
                                                        <option value="Russian">Russian</option>
                                                        <option value="Serb">Serb</option>
                                                        <option value="Thai">Thai</option>
                                                        <option value="Czech">Czech</option>
                                                        <option value="Turkish">Turkish</option>
                                                        <option value="Swedish">Swedish</option>
                                                        <option value="Arabic">Arabic</option>
                                                        <option value="Luxembourgish">Luxembourgish</option>
                                                        <option value="Latvian">Latvian</option>
                                                        <option value="Romanian">Romanian</option>
                                                        <option value="Persian">Persian</option>
                                                        <option value="Hebraic">Hebraic</option>
                                                        <option value="Macedonian">Macedonian</option>
                                                        <option value="Indonesian">Indonesian</option>
                                                        <option value="Lithuanian">Lithuanian</option>
                                                        <option value="Vietnamese">Vietnamese</option>
                                                        <option value="Slovak">Slovak</option>
                                                        <option value="Korean">Korean</option>
                                                        <option value="Icelandic">Icelandic</option>
                                                        <option value="Albanian">Albanian</option>
                                                        <option value="Armenian">Armenian</option>
                                                        <option value="Estonian">Estonian</option>
                                                        <option value="Amharic">Amharic</option>
                                                        <option value="Catalan">Catalan</option>
                                                        <option value="Bosnian">Bosnian</option>
                                                        <option value="Maltese">Maltese</option>
                                                        <option value="Moldavian">Moldavian</option>
                                                        <option value="Slovenian">Slovenian</option>
                                                        <option value="Ukrainian">Ukrainian</option>
                                                        <option value="Urdu">Urdu</option>
                                                        <option value="Tamil">Tamil</option>
                                                        <option value="Azeri">Azeri</option>
                                                        <option value="Georgian">Georgian</option>
                                                        <option value="Faroese">Faroese</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->
                                        </div>
                                        <!-- end col-8 -->
                                    </div>
                                    <!-- end row -->
                                </fieldset>
                                <!-- end fieldset -->
                            </div>
                            <!-- end step-1 -->
                            <!-- begin step-2 -->
                            <div id="as-dvContactAddress" class="step-content" style="display: none;">
                                <!-- begin fieldset -->
                                <fieldset>
                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin col-8 -->
                                        <div class="col-md-8">
                                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">You contact info, so that we can easily reach you</legend>

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Cell Number</label>
                                                <div class="col-md-6">
                                                    <input type="text" id="txtCellNumber" onkeypress="validate(event)" name="lastname" placeholder="" class="form-control requiredMember requiredaddress">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->

                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10">
                                                <label class="col-md-3 text-md-left col-form-label">Email Address</label>
                                                <div class="col-md-6">
                                                    <input type="email" id="txtEmailAddress" name="email" placeholder="someone@example.com" class="form-control">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->


                                            <!-- begin form-group row -->
                                            <div class="form-group row" style="margin-top: 50px;">
                                                <label class="col-md-3 text-md-left col-form-label">Physical Address</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="txtPhysicalAddressStreet" name="address1" placeholder="Address 1 (street)" class="form-control requiredMember requiredaddress m-b-10">
                                                    <input type="text" id="txtPhysicalAddressSuburb" name="address2" placeholder="Address 2 (suburb)" class="form-control requiredMember requiredaddress m-b-10">
                                                    @*<input type="text" id="txtPhysicalAddressCity" name="address2" placeholder="Address 2 (city)" class="form-control requiredMember requiredaddress m-b-10">*@


                                                    <select class="form-control m-b-10 requiredMember requiredaddress" id="txtPhysicalAddressCity">
                                                        <option value="">-- Choose City --</option>
                                                    </select>

                                                    <input style="display:none;" type="text" id="txtPhysicalAddressCity2" name="address2" placeholder="Address 2 (city)" class="form-control m-b-10">




                                                    <select class="form-control m-b-10 requiredMember requiredaddress" id="cboPhysicalProvince">
                                                        <option value="">-- Choose Province --</option>
                                                        <option value="Gauteng">Gauteng</option>
                                                        <option value="KwaZulu Natal">KwaZulu Natal</option>
                                                        <option value="Eastern Cape">Eastern Cape</option>
                                                        <option value="Northen Cape">Northen Cape</option>
                                                        <option value="North West">North West</option>
                                                        <option value="Free State">Free State</option>
                                                        <option value="Limpopo">Limpopo</option>
                                                        <option value="Mpumalanga">Mpumalanga</option>
                                                        <option value="Western Cape">Western Cape</option>
                                                    </select>
                                                    <input type="text" onkeypress="validate(event)" id="txtPhysicalCode" name="code" placeholder="Physical Postal Code" class="form-control requiredMember requiredaddress">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->



                                            <!-- begin form-group row -->
                                            <div class="form-group row m-b-10" style="margin-top: 40px;">
                                                <label class="col-md-3 text-md-left col-form-label">Same as Physical</label>
                                                <div class="col-md-6">
                                                    <button type="button" id="btnSameAsPhysical" data-sameaddress="yes" style="width: 150px" class="btn btn-warning"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <!-- end form-group row -->


                                            <!-- begin form-group row -->
                                            <div class="form-group row" style="margin-top: 40px;">
                                                <label class="col-md-3 text-md-left col-form-label">Postal Address</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="txtPostalAddres1" name="address1" placeholder="Address 1 (Line1)" class="form-control requiredMember requiredaddress m-b-10">
                                                    <input type="text" id="txtPostalAddres2" name="address2" placeholder="Address 2 (Line2)" class="form-control requiredMember requiredaddress m-b-10">
                                                    <input type="text" id="txtPostalAddres3" name="address2" placeholder="Address 2 (Line3)" class="form-control requiredMember requiredaddress m-b-10">
                                                    <select class="form-control m-b-10 requiredMember requiredaddress" id="cboPostalProvince">
                                                        <option value="">-- Choose Province --</option>
                                                        <option value="Gauteng">Gauteng</option>
                                                        <option value="KwaZulu Natal">KwaZulu Natal</option>
                                                        <option value="Eastern Cape">Eastern Cape</option>
                                                        <option value="Northen Cape">Northen Cape</option>
                                                        <option value="North West">North West</option>
                                                        <option value="Free State">Free State</option>
                                                        <option value="Limpopo">Limpopo</option>
                                                        <option value="Mpumalanga">Mpumalanga</option>
                                                        <option value="Western Cape">Western Cape</option>
                                                    </select>
                                                    <input type="text" onkeypress="validate(event)" id="txtPostalCode" name="code" placeholder="Postal Code" class="form-control requiredMember requiredaddress">
                                                </div>
                                            </div>
                                            <!-- end form-group row -->





                                        </div>
                                        <!-- end col-8 -->
                                    </div>
                                    <!-- end row -->
                                </fieldset>
                                <!-- end fieldset -->
                            </div>
                            <!-- end step-2 -->
                        </div>
                        <nav class="navbar btn-toolbar sw-toolbar sw-toolbar-bottom">
                            <div class="btn-group navbar-btn sw-btn-group pull-left" role="group">
                                <button class="btn btn-success" id="btnSubmitChanges" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Changes</button>
                            </div>
                        </nav>
                    </div>
                </form>



            </div>








            <div class="tab-pane fade in" id="change-password">
                <div class="panel panel-inverse" data-sortable-id="table-basic-5">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title"><i class="fas fa-unlock"></i>Change Password</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="box box-warning">
                                    <div class="register-box-body col-md-12">
                                        <div class="form-group">
                                            <label>Old Password:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fas fa-lock-open"></i>
                                                </div>
                                                <input id="txtOldPassword" type="password" class="form-control requredPassword cleanField" placeholder="Old Password...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>New Password:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fas fa-unlock"></i>
                                                </div>
                                                <input id="txtNewPassword" type="password" class="form-control requredPassword cleanField" placeholder="New Password...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Old Password:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fas fa-unlock"></i>
                                                </div>
                                                <input id="txtConfirmPassword" type="password" class="form-control requredPassword cleanField" placeholder="Confirm Password...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" style="width: 150px;" id="btnSavePassword" class="btn btn-flat btn-success bg-green"><i class="fa fa-floppy-o" aria-hidden="true"></i>Submit</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="tab-pane fade in" id="profile-photos">
                <div class="panel panel-inverse" data-sortable-id="table-basic-5">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title"><i class="fas fa-user"></i>Profile Picture</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-lg-3 ui-sortable">
                                    </div>
                                    <div class="col-lg-6 ui-sortable">
                                        <img style="width: 100%; height: 200px;" class="img-rounded" src="/Content/Images/default-user.png" id="imgUser" />
                                    </div>
                                    <div class="col-lg-3 ui-sortable">
                                    </div>
                                </div>

                                <div class="box box-warning">
                                    <div class="modal-footer">
                                        <div class="form-group col-md-11" id="btnBrowseUserImage" title="User Picture" style="margin-right: -45px; margin-bottom: -10px;">
                                            <label class="btn-img-upload btn btn-primary">
                                                <i class="fas fa-upload"></i>Upload Image
                                                <input type="file" multiple="" name="UploadedImage[]" id="userImageUpload" accept="image/*" style="display: none;">
                                            </label>
                                            <button type="button" style="width: 150px; margin-top: -8px;" id="btnCamera" title="Open Camera" class="btn btn-flat btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>Camera</button>
                                        </div>
                                        <button type="button" style="width: 150px;" id="btnSumit" class="btn btn-flat btn-success bg-green"><i class="fa fa-floppy-o" aria-hidden="true"></i>Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>










@* --------------------------------------- Camera -------------------------------------------------  *@



<div class="modal fade modal-warning" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <form method="post" role="form" id="" enctype="multipart/form-data">
        <div class="modal-dialog" role="document" style="width: 650px; height: 500px">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" style="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close" id=""><span area-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                    <h4><strong>Webcam</strong></h4>
                </div>

                <div class="">

                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="webcam-container size640x480">
                                <div id="webcam"
                                    data-swffile="sAS3Cam.swf"
                                    data-preview-width="640" data-preview-height="480"
                                    data-resolution-width="640" data-resolution-height="480"
                                    data-stage-scale-mode="noScale" data-stage-align="TL"
                                    class="size640x480">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="webcam-text">
                                <div>
                                    <select id="popup-webcam-cams"></select>
                                </div>
                                <div>

                                    <p class="webcam-error"></p>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div id="result"></div>
                    <br />

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="button" disabled="disabled"
                        value="Take a photo"
                        id="popup-webcam-take-photo" class="btn btn-success">
                        Save Image</button>
                </div>

            </div>

        </div>
    </form>
</div>


@* --------------------------------------- Camera -------------------------------------------------  *@
