﻿

<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Privileges</span> <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Privilege</button></h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">

                <div class="col-md-12" style="padding-left:0px;padding-right:5px">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Privilege ID</th>
                                                    <th>Privilege</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>

                                            </thead>
                                            <tbody id="tblPrivileges"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






















@* --------------------------------------- Privilege -------------------------------------------------  *@



<div class="fade modal adminPrivilege-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New Privilege</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">
                    <div class="col-md-12">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label>Privilege Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <input id="txtPrivilegeName" type="text" class="form-control requiredPrivilege cleanField" placeholder="Privilege Name...">
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Description:</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                        <textarea class="form-control cleanField" rows="6" id="txtDescription"></textarea>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddPrivilege" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>
                <button type="button" style="width:130px" id="btnUpdatePrivilege" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save changes</button>

            </div>

        </div>

    </div>

</div>


@* --------------------------------------- Privilege -------------------------------------------------  *@
