﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">User Roles</span> <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Role</button></h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">

                <div class="col-md-12" style="padding-left:0px;padding-right:5px">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Role ID</th>
                                                    <th>Role Name</th>
                                                    <th>Category</th>
                                                    <th>Type</th>
                                                    <th>Description</th>
                                                    <th>Privileges</th>
                                                    <th>Action</th>
                                                </tr>

                                            </thead>
                                            <tbody id="tblRoles"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


















@* --------------------------------------- Role -------------------------------------------------  *@



<div class="fade modal adminRoles-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New Role</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">
                    <div class="col-md-12">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">


                                <div class="form-group">
                                    <label>Role Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-circle"></i>
                                        </div>
                                        <input id="txtRoleName" type="text" class="form-control requiredRole cleanField" placeholder="Role Name...">
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Description:</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                        <textarea class="form-control cleanField" rows="6" id="txtDescription"></textarea>
                                    </div>
                                    <!-- /.input group -->
                                </div>



                                <h4>Select Privileges</h4>
                                <div class="row" style="max-height: 300px; overflow: auto">

                                    <div class="col-md-6" id="first">
                                        <div class="funkyradio">
                                            <div class="funkyradio-default">
                                                <input type="checkbox" name="checkbox" id="checkbox1" checked="">
                                                <label for="checkbox1" style="margin-top: 0px">First Option default</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="second">
                                        <div class="funkyradio">
                                            <div class="funkyradio-default">
                                                <input type="checkbox" name="checkbox1" id="checkbox2" checked="">
                                                <label for="checkbox2" style="margin-top: 0px">First Option default</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddRole" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>
                <button type="button" style="width:130px" id="btnUpdateRole" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save changes</button>

            </div>

        </div>

    </div>

</div>



@* --------------------------------------- Role -------------------------------------------------  *@







<div class="modal fade modal" id="prevelagesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;overflow-y: auto; " aria-hidden="true">
    <form method="post" role="form" id="" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" style="box-shadow: 0 10px 5px -5px rgba(0,0,0,0.75);">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close" id=""><span area-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                    <h4 style="color: black;"><strong>User Prevelages</strong></h4>
                </div>

                <div class="modal-body">

                    <div class="register-box-body">

                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Label</th>
                                    </tr>
                                    <tr>
                                        <td>1.</td>
                                        <td>Update software</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-red">55%</span></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Clean database</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-yellow">70%</span></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Cron job running</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar progress-bar-default" style="width: 30%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-light-blue">30%</span></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Fix and squish bugs</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-green">90%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>






<!-- Modal Start here-->
<div class="modal fade modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <form method="post" role="form" id="frmagents" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" style="box-shadow: 0 10px 5px -5px rgba(0,0,0,0.75);">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close" id="btnClose"><span area-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                    <h4 style="color:black;"><strong id="cornfimTitle">Confirm</strong></h4>
                </div>

                <div class="modal-body">

                    <div class="register-box-body">
                        <div class="form-group has-feedback">
                            <label id="cornfimTxt" class="">Are you sure?</label>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        <button type="button" id="deleteConfirm" class="btn btn-success">Confirm</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<!-- Modal ends Here -->
