﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Users</span> <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New User</button></h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">

                <div class="col-md-12" style="padding-left:0px;padding-right:5px">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Cellphone</th>
                                                    <th>Role</th>
                                                    <th>Status</th>
                                                    <th style="text-align:center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblUsers"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>










@* --------------------------------------- Users -------------------------------------------------  *@






<div class="fade modal adminUsers-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New User</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">


                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label>User Role: *</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredUser cleanUserField" id="cboRole">
                                            <option value="">-- Choose Role --</option>

                                        </select>
                                    </div>
                                    <!-- /.input group -->
                                </div>


                                <div class="form-group">
                                    <label style="">Email Address: *</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input id="txtEmailAddress" type="text" class="form-control requiredUser cleanUserField" placeholder="Email...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Cellphone Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <input id="txtCellNumber" onkeypress="validate(event)" maxlength="10" type="text" class="form-control cleanUserField" placeholder="Cellphone...">
                                    </div>
                                </div>

                                <div class="form-group " hidden="hidden">
                                    <label style="">ID Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtIDNumber" onkeypress="validate(event)" maxlength="13" type="text" class="form-control cleanUserField" placeholder="ID Number...">
                                    </div>
                                </div>


                                <div class="form-group clsPassword">
                                    <label>Password: *</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="User password...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-6" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">


                                <div class="form-group">
                                    <label style="">Title: *</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <select class="form-control requiredMember requiredUser cleanUserField" id="cboTitle">
                                            <option value="">-- Choose Title --</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">First Name: *</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtFirstName" type="text" class="form-control requiredUser cleanUserField" placeholder="First Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Last Name: *</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtLastName" type="text" class="form-control requiredUser cleanUserField" placeholder="Last Name...">
                                    </div>
                                </div>




                             



                                <div class="form-group clsPassword">
                                    <label>Confirm Password: *</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtConfirmPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Re-type password...">
                                    </div>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>



                    <div class="col-md-12" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">


                              

                                <div class="form-group">
                                    <label style="">Region:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <select class="form-control requiredMember cleanUserField" id="cboRegions">
                                            <option value="">-- Choose Region --</option>

                                        </select>
                                    </div>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>



                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddUser" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>







@* --------------------------------------- Users -------------------------------------------------  *@























@* --------------------------------------- Add Person -------------------------------------------------  *@



<div class="fade modal adminMembers-modal-lg in" id="addPerson" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none; overflow-y: auto;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header" style="box-shadow: 0 10px 5px -5px rgba(0,0,0,0.75);">
                <h4 style="color: black;"><strong><i class="fa fa-user" aria-hidden="true"></i> Person</strong></h4>
                <button type="button" style="margin-top:-35px;" class="close" data-dismiss="modal" aria-label="close" id="btnClose"><span class="area-hidden"><i class="fa fa-times-circle"></i></span></button>
            </div>

            <div class="modal-body bg-black" id="">

                <div class="row">
                    <div class="col-md-6" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label style="">Title:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember cleanField" id="cboTitle">
                                            <option value="">-- Choose Title --</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">First Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtFirstName" type="text" class="form-control requiredMember cleanField" placeholder="First Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Last Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtLastName" type="text" class="form-control requiredMember cleanField" placeholder="Last Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Gender:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember cleanField" id="cboGender">
                                            <option value="">-- Choose Gender --</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6" id="">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">





                                <div class="form-group">
                                    <label style="">ID Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-circle"></i>
                                        </div>
                                        <input id="txtIDNumber" onkeypress="validate(event)" type="text" class="form-control requiredMember cleanField" placeholder="ID Nunmber...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                                <div class="form-group hidden">
                                    <label style="color:white;">Date Of Birth:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-calendar-alt"></i>
                                        </div>
                                        <input id="txtDOB" type="text" class="form-control datepicker requiredMember cleanField" placeholder="Date Of Birth...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>













                    @* ------------ Address --------------- *@


                    <div class="col-md-6" style="display: none;">
                        <div class="box-body">


                            <div class="col-sm-4 initCalculator"></div>
                            <div class="col-sm-8">

                                <div class="box-header">
                                    <h6 class="box-title">
                                        <u><b>Physical Address</b></u>
                                    </h6>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">Address</label>
                                <div class="col-sm-8">


                                    <div class="input-group">
                                        <input type="text" class="form-control  address" id="txtMainInsuredAddress1">
                                        <span class="input-group-btn">
                                            <button id="btnShowMap" type="button" class="btn btn-warning btn-flat"><i class="fa fa-map-marker" aria-hidden="true"></i>Map</button>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mail" class="col-sm-4 control-label">Suburb</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control  address" id="txtMainInsuredSuburb" value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">City</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control  address" id="txtMainInsuredCity" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">Province</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control  address" id="txtMainInsuredProvince" value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="mail" class="col-sm-4 control-label">Code</label>
                                <div class="col-sm-8">
                                    <input type="text" maxlength="4" onkeypress="validate(event)" class="form-control  address" id="txtMainInsuredCode" value="">
                                </div>
                            </div>



                            <div class="row" style="margin-left: 10px">
                                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                                    <label class="btn active" id="btnSameAsPhysicalAdd1" style="color: #768399;">
                                        <input type="checkbox" name="email1"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>  <span>Same as physical address</span>
                                    </label>
                                </div>
                            </div>


                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">

                                <div class="box-header">
                                    <h6 class="box-title">
                                        <u><b>Postal Address</b></u>
                                    </h6>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">PO Box or P/Bag</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control requiredd" id="txtMainInsuredAddressPo" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mail" class="col-sm-4 control-label">Suburb</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " id="txtMainInsuredSuburbPo" value="">
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">City</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control requiredd" id="txtMainInsuredCityPo" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">Province</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control requiredd" id="txtMainInsuredProvincePo" value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="mail" class="col-sm-4 control-label">Code</label>
                                <div class="col-sm-8">
                                    <input type="text" maxlength="4" onkeypress="validate(event)" class="form-control requiredd" id="txtMainInsuredCodePo" value="">
                                </div>
                            </div>
                        </div>
                    </div>


                    @* ------------ Address --------------- *@







                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat btn-dark" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancel</button>
                <button type="button" id="btnAddMember" class="btn btn-flat btn-success bg-green"><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
                <button type="button" id="btnUpdateMember" class="btn btn-flat btn-success bg-green" style="display: none;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
            </div>

        </div>

    </div>

</div>



@* --------------------------------------- Add Person -------------------------------------------------  *@


























@* ----------------------------- Choose Member ------------------------------------- *@




<div class="fade modal listMember-modal-lg in" id="listMember" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-warehouse-alt"></i>Member</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close" id=""><span class="area-hidden"><i class="fa fa-times-circle"></i></span></button>
            </div>

            <div class="modal-body" id="">



                <div class="row">
                    <div class="col-md-12">

                        <div class="panel-inverse" data-sortable-id="ui-general-1">
                            <div class="panel-heading ui-sortable-handle" style="height: 30px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                @*                    <div class="panel-heading-btn">
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    </div>*@
                                <h4 class="panel-title"><i class="fas fa-search"></i>Search</h4>
                            </div>


                            <div class="panel-body" style="background-color: #eee;">

                                <div class="form-group col-md-3 pull-left">
                                    <label>Search With:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-search-plus"></i>
                                        </div>
                                        <select class="form-control" id="cboSearchWith">
                                            <option value="person_id_number">ID Number</option>
                                            <option value="contact_cellphone">Cellphone Number</option>
                                            <option value="person_first_name">First Name</option>
                                            <option value="person_last_name">Last Name</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group col-md-5 pull-left">
                                    <label>Search:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <input id="txtSearch" type="text" class="form-control" placeholder="Search Here...">
                                    </div>
                                </div>


                                <div class="form-group col-md-2 pull-left">
                                    <label>
                                        <br />
                                    </label>
                                    <div class="input-group date">
                                        <button type="button" id="btnSearchFilter" class="btn btn-flat btn-success bg-green"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                                    </div>
                                </div>

                                <div class="form-group col-md-2 pull-left">
                                    <label>
                                        <br />
                                    </label>
                                    <div class="input-group date">
                                        <button type="button" id="btnRefresh" class="btn btnRefresh btn-flat btn-default bg-dark text-white"><i class="fas fa-sync-alt"></i>Refresh</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>




                <br />
                <br />





                <div class="row">
                    <div class="col-md-12" id="">

                        <div class="table-responsive">
                            <table class="table table-striped m-b-0" id="">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Cell Number</th>
                                        <th>Nationality</th>
                                        <th>Gender</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="tblMembers"></tbody>
                            </table>
                            <h3 id="spResult" class="box-title" style="text-align: center; color: black; display: none;"></h3>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>



@* ----------------------------- Choose Member ends ------------------------------------- *@