﻿<!DOCTYPE html>
<html style="background: transparent">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/x-icon" href="~/Content/Images/ArriveAliveFavicon.png" />


    <link href="~/Content/cruise_safe/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/cruise_safe/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/cruise_safe/style.css" rel="stylesheet" type="text/css">


    <link href="~/Content/fontawesome-free-5.6.3-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.6.3-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.6.3-web/css/all.css" rel="stylesheet" />

    <link href="~/Scripts/cruise_safe/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/cruise_safe/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/cruise_safe/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/cruise_safe/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Scripts/cruise_safe/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" />





</head>
<body style="" class="wrapper">
    @*<div class="accountbg"></div>*@
    @*<div class="accountbg1"></div>*@

    <script src="~/Scripts/getLocalIP.js"></script>
    <script src="~/Scripts/https.js"></script>

    @*--------------------- Modal Loader -----------------------*@
    @Html.Partial("~/Views/Shared/Partials/pvModalLoader.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvModalMessage.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvPermModal.cshtml")


    @RenderBody()
    @Html.Partial("~/Views/Shared/Partials/pvConfirmModal.cshtml")


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>*@
    <script src="~/Scripts/cruise_safe/js/jquery.min.js"></script>
    <script src="~/Scripts/cruise_safe/js/bootstrap.min.js"></script>
    <script src="~/Scripts/cruise_safe/js/modernizr.min.js"></script>
    <script src="~/Scripts/cruise_safe/js/detect.js"></script>
    <script src="~/Scripts/cruise_safe/js/fastclick.js"></script>
    <script src="~/Scripts/cruise_safe/js/jquery.slimscroll.js"></script>
    <script src="~/Scripts/cruise_safe/js/jquery.blockUI.js"></script>
    <script src="~/Scripts/cruise_safe/js/waves.js"></script>
    <script src="~/Scripts/cruise_safe/js/wow.min.js"></script>
    <script src="~/Scripts/cruise_safe/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/cruise_safe/js/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/morris/morris.min.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/raphael/raphael-min.js"></script>
    <script src="~/Scripts/cruise_safe/pages/dashborad.js"></script>
    <script src="~/Scripts/cruise_safe/js/app.js"></script>




    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Plugins js -->
    <script src="~/Scripts/cruise_safe/plugins/timepicker/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Scripts/cruise_safe/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>

    <script src="~/Scripts/cruise_safe/handleRsponsiveness.js"></script>


    <script src="~/Scripts/cruise_safe/pages/sweet-alert.init.js"></script>

    <!-- Plugins Init js -->
    <style>
        .sweet-alert {
            border-radius: 10px;
            box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
        }
    </style>






    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>


    <script src="~/Content/cruise_safe/jquery.table2excel.js"></script>





    <script>

        //$('.datepicker').datepicker({
        //    autoclose: true,
        //    format: 'yyyy-mm-dd',
        //    changeMonth: true,
        //    changeYear: true
        //});


        ////Timepicker
        //$(".timepicker").timepicker({
        //    showInputs: false,
        //    use24hours: true,
        //    timePicker: true
        //});



        //$(function () {
        //    $('[data-toggle="tooltip"]').tooltip()
        //})

        var files = Array();
        var callStatus = 'none';

        $("#as_smart_connects").mousemove(function () {
            ResetTimers();
        });





        function phonenumber(inputtxt) {
            var phoneno = /^\d{10}$/;
            if (inputtxt.match(phoneno)) {
                return hidenumbers(inputtxt);
            }
            else {
                return inputtxt;
            }
        }


        function hidenumbers(inputtxt) {
            return inputtxt.substring(0, 3) + "****" + inputtxt.substring(7);
        }


        function subText(txt,len, end) {
            return txt.length > len ? (txt.substring(0, len) + end) : txt;
        }


        var timoutWarning = 300; // Display warning in 1Mins.
        var timoutNow = 60; // Timeout in 2 mins.


        var warningTimer;
        var timeoutTimer;
        var onWarning = false;


        var isLogin = (window.location.toString().indexOf('index') >= 0) ? true : false;


        // Start timers.
        function StartTimers() {
            if (!isLogin) {
                timoutNow = 60;
                timoutWarning = 300;
                onWarning = false;
                warningTimer = setInterval(function () {

                    timoutWarning--;
                    clearInterval(warningTimer);
                    if (timoutWarning == 0) {

                        $('.timeleft').html(timoutNow);
                        if (callStatus != 'Calling' && callStatus != 'On Call')
                            $("#logoutModal").modal('show');

                        clearInterval(timeoutTimer);
                        timeoutTimer = setInterval(function () {
                            onWarning = true;
                            timoutNow -= 1;
                            if (timoutNow == 0) {
                                if (callStatus != 'Calling' && callStatus != 'On Call')
                                    $('#btnLogout').trigger('click');
                            }
                            var timeleft = (timoutNow < 10) ? '0' + timoutNow : timoutNow;
                            if (timoutNow >= 0)
                                $('.timeleft').html(timeleft);
                        }, 1000);

                    }
                }, 1000);
            }
        }


        // Reset timers.
        function ResetTimers() {
            if (!isLogin) {
                if (!onWarning) {
                    clearInterval(warningTimer);
                    clearInterval(timeoutTimer);
                    StartTimers();
                }
            }
        }

        $('#btnContinuee').click(function () {
            clearInterval(warningTimer);
            clearInterval(timeoutTimer);
            StartTimers();
            $("#logoutModal").modal('hide');
        });

        $('#btnLogoutNow').click(function () {
            $("#logoutModal").modal('hide');
            $('#btnLogout').trigger('click');
        });



        function validate(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                //alert("Numbers only please");
                var msg = "Numbers only please";
                checkInputFields(msg);
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }


        function checkInputFields(msg) {
            $('#myPleaseWait').modal('show');
            $('#txtModalLoaderAlertMessage').show();
            $('#txtModalLoaderAlertMessage b').text(msg);

            setTimeout(function () {
                $('#myPleaseWait').hide();
                $('#myPleaseWait').modal('hide');

                $('#txtModalLoaderAlertMessage').hide();
                $('#txtModalLoaderSuccessMessage').hide();
            }, 2000);
        }

        function showConnectionMessage(txt) {
            $('.message_connection').html(txt);
            $('#connectionModal').modal('show');
        }




        $(document).on('mouseenter', '.imgDiv', function () {
            var id = this.id.substr(6);
            $(document).find('#closeBnt' + id).slideDown('fast');
        }).on('mouseleave', '.imgDiv', function () {
            var id = this.id.substr(6);
            $(document).find('#closeBnt' + id).slideUp('fast');
        });


        $(document).on('click', '.closeBnt', function () {
            var id = this.id.substr(8);
            files.splice(id, 1);
            displayImages();
        })


        $('#btnImages').click(function () {
            $('#img').trigger('click');
        });
        $('#img').change(function () {
            if (this.files && this.files[0]) {
                for (var i = 0; i < this.files.length; i++) {
                    if (files.length >= 6)
                        files.splice(0, 1);
                    files.push(this.files[i]);
                }
                displayImages();
            }
        });

        function displayImages() {
            $('#imagesDiv').html('');
            for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(files[i]);
                index = i;
            }

        }

        function imageIsLoaded(e) {
            var indx = $("#imagesDiv img").length;
            $('#imagesDiv').append('<div class="imgDiv" id="imgDiv' + indx + '"> <i  id="closeBnt' + indx +
                '" class="fa fa-close closeBnt"></i><a data-magnify="gallery" data-src="" data-caption="image_' + (indx + 1) + '" data-group="file" href="'
                + e.target.result + '" ><img width="100" class="center-cropped img" src="' + e.target.result + '" /></a></div>');
            $(document).find('.closeBnt').hide();
        };




        function showSuccessMessage(msg) {
            swal({
                title: "Success!",
                text: msg,
                type: "success"
            });
        }
        function showWarningMessage(msg) {
            swal({
                title: "Warning!",
                text: msg,
                type: "warning"
            });
        }
        function showErrorMessage(msg) {
            swal({
                title: "Error!",
                text: msg,
                type: "error"
            });
        }

        function showSuccessMessageClose(msg) {
            swal({
                title: "Success!",
                text: msg,
                timer: 2e3,
                showConfirmButton: !0,
                type: "success"
            });
        }
        function showWarningMessageClose(msg) {
            swal({
                title: "Warning!",
                text: msg,
                timer: 2e3,
                showConfirmButton: !0,
                type: "warning"
            });
        }
        function showErrorMessageClose(msg) {
            swal({
                title: "Error!",
                text: msg,
                timer: 2e3,
                showConfirmButton: !0,
                type: "error"
            });
        }


        function showConfirmMessage(txt) {
            $('#lblMessage').html(txt);
            $('#confirmModal1').modal('show');
        }


        function removeNulls(str) {
            str = str + '';
            str = str.replace('null', ''); str = str.replace('null', '');
            str = str.replace('null', ''); str = str.replace('null', '');
            str = str.replace('null', ''); str = str.replace('null', '');
            return str;
        }

        function myCopyTextFunction() {
            var copyText = document.getElementById("myCopyTextInput");
            copyText.select();
            document.execCommand("copy");
        }

        function removeNull(str) {
            if (str == null || str == "null")
                str = '';

            return str;
        }

        function validationSpace(reg, msg) {
            str = document.reg;
            if (str.name.value.trim() == "") {
                showErrorMessage(msg);
                str.name.focus();
                return false;
            }
        }


        function MonthAsString(monthIndex) {
            var d = new Date();
            var month = new Array();
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";

            return month[monthIndex];
        }

        function DayAsString(dayIndex) {
            var weekdays = new Array(7);
            weekdays[0] = "Sunday";
            weekdays[1] = "Monday";
            weekdays[2] = "Tuesday";
            weekdays[3] = "Wednesday";
            weekdays[4] = "Thursday";
            weekdays[5] = "Friday";
            weekdays[6] = "Saturday";

            return weekdays[dayIndex];
        }


        function getDate(date) {
            if (!date)
                return '';
            if (date.length > 7 && date.length < 11)
                return date;
            var datee = (date).toString().replace('/Date(', '').replace(')/', '');
            var d = new Date();
            d.setTime(datee);

            var month = d.getMonth() + 1;
            if (month < 10)
                month = '0' + month;
            var day = d.getDate();
            if (day < 10)
                day = '0' + day;
            var year = d.getFullYear();
            return year + "-" + month + "-" + day;
        }


        function getDatee(date) {
            if (date)
                return date.substring(0, 10);
            else
                return '';
        }


        function getDateTime(date) {
            if (date)
                return date.substring(0, 10) + ' ' + date.substring(11, 16);
            else
                return '';
        }


        function getTime(date) {
            if (date)
                return date.substring(11, 16);
            else
                return '';
        }

        function getTimeSeconds(date) {
            if (date)
                return date.substring(11, 19);
            else
                return '';
        }

        function getToday() {

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            var currentday = yyyy + "-" + mm + "-" + dd;
            return currentday;
        }



        function getYesterday() {

            var today = new Date();
            today.setDate(today.getDate() - 1);
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            var currentday = yyyy + "-" + mm + "-" + dd;
            return currentday;
        }




        function toTitleCase(str) {
            if (str != null) {
                return str.replace(/\w\S*/g, function (txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                });
            }
            else {
                return str;
            }
        }


        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }



        function calculate_age(dob) {
            var diff_ms = Date.now() - dob.getTime();
            var age_dt = new Date(diff_ms);

            return Math.abs(age_dt.getUTCFullYear() - 1970);
        }



        function calculateAge(birthday) { // birthday is a date
            var ageDifMs = Date.now() - birthday.getTime();
            var ageDate = new Date(ageDifMs); // miliseconds from epoch
            return (ageDate.getUTCFullYear() - 1970);
        }


        function calculateAgeStr(birthday) { // birthday is a date
            var ageDifMs = Date.now() - new Date(birthday).getTime();
            var ageDate = new Date(ageDifMs); // miliseconds from epoch
            return (ageDate.getUTCFullYear() - 1970);
        }


        function calculateAgeMonthStr(birthday) { // birthday is a date
            var tempDate = new Date(birthday);
            var end = new Date();
            var monthCount = 0;
            while ((tempDate.getMonth() + '' + tempDate.getFullYear()) != (end.getMonth() + '' + end.getFullYear())) {
                monthCount++;
                tempDate.setMonth(tempDate.getMonth() + 1);
            }
            return monthCount;
        }


        function calculateAge(birthday, commDate) { // birthday is a date
            var ageDifMs = commDate - birthday.getTime();
            var ageDate = new Date(ageDifMs); // miliseconds from epoch
            return (ageDate.getUTCFullYear() - 1970);
        }



        $(window).resize(function () {
            $('#dvRightMainContent').css('height', $(window).height() * 1);
        });

        function resizeScript() {
            $(window).resize();
        }
        resizeScript();

        $('#btnToggleLeftMenu').trigger('click');

        ////Date picker
        //$('.datepicker').datepicker({
        //    autoclose: true,
        //    format: 'yyyy-mm-dd',
        //    changeMonth: true,
        //    changeYear: true
        //});

        function capEachWord(words) {
            var separateWord = words.toLowerCase().split(' ');
            for (var i = 0; i < separateWord.length; i++) {
                separateWord[i] = separateWord[i].charAt(0).toUpperCase() +
                    separateWord[i].substring(1);
            }
            return separateWord.join(' ');
        }


        function timeTo24HourFormat(time) {
            var hours = Number(time.match(/^(\d+)/)[1]);
            var minutes = Number(time.match(/:(\d+)/)[1]);
            var AMPM = time.match(/\s(.*)$/)[1];
            if (AMPM == "PM" && hours < 12) hours = hours + 12;
            if (AMPM == "AM" && hours == 12) hours = hours - 12;
            var sHours = hours.toString();
            var sMinutes = minutes.toString();
            if (hours < 10) sHours = "0" + sHours;
            if (minutes < 10) sMinutes = "0" + sMinutes;
            return sHours + ":" + sMinutes;
        }


        function timeTo12HourFormat(time) {
            var tm = time.split(':');
            var hh = tm[0];
            var m = tm[1];
            var dd = "AM";
            var h = hh;
            if (h >= 12) {
                h = hh - 12;
                dd = "PM";
            }
            if (h == 0) {
                h = 12;
            }
            m = m < 10 ? "0" + m : m;
            h = h < 10 ? "0" + h : h;
            return h + ":" + m + " " + dd;
        }



        function timeTo12HourFormat2(time) {
            // Check correct time format and split into components
            time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

            if (time.length > 1) { // If time format correct
                time = time.slice(1);  // Remove full string match value
                time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
                time[0] = +time[0] % 12 || 12; // Adjust hours
            }
            return time.join(''); // return adjusted time or original string
        }



        function getDatee(date) {
            if (date)
                return date.substring(0, 10);
            else
                return '';
        }


        function getHours(d) {
            var date1 = new Date();
            var date2 = new Date(d);
            return (date1 - date2) / 36e5;
        }

        function isToday(d) {
            var date1 = new Date();
            var date2 = new Date(d);
            return (date1.getFullYear() == date2.getFullYear() && date1.getMonth() == date2.getMonth() && date1.getDate() == date2.getDate());
        }

        function getDays(d) {
            var date1 = new Date();
            var date2 = new Date(d);
            return (date1 - date2) / 36e5 / 24;
        }


        function getWeeks(d) {
            var date1 = new Date();
            var date2 = new Date(d);
            return (date1 - date2) / 36e5 / 24 / 7;
        }


        function getMonths(d) {
            var date1 = new Date();
            var date2 = new Date(d);
            return (date1 - date2) / 36e5 / 24 / 30;
        }


        function makeid(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }





        /***************************************************************
                Validations
        ***************************************************************/


        function vaidateFields(clas) {
            $('.' + clas).css('border-color', 'silver');
            var input;
            $('.' + clas).map(function () {
                if (!$(this).val() || $(this).css('border-color') == 'red') {
                    $(this).css('border-color', 'red');
                    $(this).focus();
                    input = $(this);
                }
            }).get();

            if (input) {
                input.focus();
                return true;
            }
            else
                return false;
        }

        function modalShow(div) {
            $(div).modal('show');
            $('html').addClass('modal-open');
            $('.footer').hide('slow');
        }

        function modalHide(div) {
            $(div).modal('hide');
            $('html').removeClass('modal-open');
            $('.footer').show('slow');
        }


        function modalShow1(div) {
            $(div).modal('show');
            $('html').css('overflow', 'hidden');
        }

        function modalHide1(div) {
            $(div).modal('hide');
            $('html').css('overflow', 'auto');
        }



        function showloader(txt) {
            $('.loader').html(txt);
            $('#myLoader').modal('show');
        }


        function hideloader() {
            $('.loader').html('Loading...');
            $('#myLoader').modal('hide');
        }




        function SuccessMessage(msg) {
            $('#myPleaseWait').modal('show');
            $('#txtModalLoaderAlertMessage').hide();
            $('#txtModalLoaderSuccessMessage').show();
            $('#txtModalLoaderSuccessMessage b').html(msg);

            setTimeout(function () {
                $('#myPleaseWait').hide();
                $('#txtModalLoaderSuccessMessage').hide();
                $('#myPleaseWait').modal('hide');
            }, 3000);
        }

        function checkEmptyFields(msg) {

            $('#myPleaseWait').modal('show');
            $('#txtModalLoaderAlertMessage').show();
            $('#txtModalLoaderAlertMessage b').text(msg);

            setTimeout(function () {
                $('#myPleaseWait').hide();
                $('#myPleaseWait').modal('hide');
                $('#txtModalLoaderAlertMessage').hide();
            }, 3000);
        }



        /***************************************************************
                            Validations Ends
        ***************************************************************/



        //Removing  Messages

        $(document).on('click', function () {
            if ($('#txtModalLoaderAlertMessage').is(':visible')) {
                $('#txtModalLoaderAlertMessage').hide();
            }
            if ($('#txtModalLoaderSuccessMessage').is(':visible')) {
                $('#txtModalLoaderSuccessMessage').hide();
            }
        });




        var styles = {
            default: null,
            satellite: null,

            silver: [
                {
                    elementType: 'geometry',
                    stylers: [{ color: '#f5f5f5' }]
                },
                //{
                //    elementType: 'labels.icon',
                //    stylers: [{ visibility: 'off' }]
                //},
                {
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#616161' }]
                },
                {
                    elementType: 'labels.text.stroke',
                    stylers: [{ color: '#f5f5f5' }]
                },
                {
                    featureType: 'administrative.land_parcel',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#bdbdbd' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'geometry',
                    stylers: [{ color: '#eeeeee' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#757575' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{ color: '#e5e5e5' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9e9e9e' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{ color: '#ffffff' }]
                },
                {
                    featureType: 'road.arterial',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#757575' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{ color: '#dadada' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#616161' }]
                },
                {
                    featureType: 'road.local',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9e9e9e' }]
                },
                {
                    featureType: 'transit.line',
                    elementType: 'geometry',
                    stylers: [{ color: '#e5e5e5' }]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'geometry',
                    stylers: [{ color: '#eeeeee' }]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{ color: '#c9c9c9' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9e9e9e' }]
                }
            ],

            night: [
                { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
                { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
                { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
                {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{ color: '#263c3f' }]
                },
                {
                    "featureType": "poi.business",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#6b9a76' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{ color: '#38414e' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#212a37' }]
                },
                {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9ca5b3' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{ color: '#746855' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#1f2835' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#f3d19c' }]
                },
                {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{ color: '#2f3948' }]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{ color: '#17263c' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#515c6d' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{ color: '#17263c' }]
                }
            ],

            retro: [
                { elementType: 'geometry', stylers: [{ color: '#ebe3cd' }] },
                { elementType: 'labels.text.fill', stylers: [{ color: '#523735' }] },
                { elementType: 'labels.text.stroke', stylers: [{ color: '#f5f1e6' }] },
                {
                    featureType: 'administrative',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#c9b2a6' }]
                },
                {
                    featureType: 'administrative.land_parcel',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#dcd2be' }]
                },
                {
                    featureType: 'administrative.land_parcel',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#ae9e90' }]
                },
                {
                    featureType: 'landscape.natural',
                    elementType: 'geometry',
                    stylers: [{ color: '#dfd2ae' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'geometry',
                    stylers: [{ color: '#dfd2ae' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#93817c' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry.fill',
                    stylers: [{ color: '#a5b076' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#447530' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{ color: '#f5f1e6' }]
                },
                {
                    featureType: 'road.arterial',
                    elementType: 'geometry',
                    stylers: [{ color: '#fdfcf8' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{ color: '#f8c967' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#e9bc62' }]
                },
                {
                    featureType: 'road.highway.controlled_access',
                    elementType: 'geometry',
                    stylers: [{ color: '#e98d58' }]
                },
                {
                    featureType: 'road.highway.controlled_access',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#db8555' }]
                },
                {
                    featureType: 'road.local',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#806b63' }]
                },
                {
                    featureType: 'transit.line',
                    elementType: 'geometry',
                    stylers: [{ color: '#dfd2ae' }]
                },
                {
                    featureType: 'transit.line',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#8f7d77' }]
                },
                {
                    featureType: 'transit.line',
                    elementType: 'labels.text.stroke',
                    stylers: [{ color: '#ebe3cd' }]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'geometry',
                    stylers: [{ color: '#dfd2ae' }]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry.fill',
                    stylers: [{ color: '#b9d3c2' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#92998d' }]
                }
            ],

            hiding: [
                {
                    featureType: 'poi.business',
                    stylers: [{ visibility: 'off' }]
                },
                {
                    featureType: 'transit',
                    elementType: 'labels.icon',
                    stylers: [{ visibility: 'off' }]
                }
            ],

            custom: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffedad"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffe7b8"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#b3b3b3"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffe7b3"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#b0b0b0"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#fbd88e"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#b0b0b0"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffd685"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#d6d6d6"
                        },
                        {
                            "weight": 0.5
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#bdfbff"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ]
        };


    </script>












</body>
</html>
