﻿@{
    ViewBag.Title = "AS | Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

    <script src="~/Scripts/plugins/jquery/jquery-2.2.3.min.js"></script>

    <script src="~/Scripts/plugins/tableExport.jquery.plugin-master/jquery.base64.js"></script>
    <script src="~/Scripts/plugins/tableExport.jquery.plugin-master/html2canvas.js"></script>
    <script src="~/Scripts/plugins/tableExport.jquery.plugin-master/jspdf/libs/sprintf.js"></script>
    <script src="~/Scripts/plugins/tableExport.jquery.plugin-master/jspdf/jspdf.js"></script>
    <script src="~/Scripts/plugins/tableExport.jquery.plugin-master/jspdf/libs/base64.js"></script>
    <script src="~/Scripts/plugins/tableExport.jquery.plugin-master/tableExport.js"></script>

    <script src="~/Scripts/AS_Municipality/Admin/Modules.js"></script>

    @*--------------------- Session -----------------------*@
    <script src="~/Scripts/cruise_safe/handleSession.js"></script>
    <script src="~/Scripts/cruise_safe/handlePrevleges.js"></script>

    @Html.Partial("~/Views/Shared/Partials/pvHeader.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvMenuBar.cshtml")
    @Html.Partial("~/Views/Shared/Partials/Admin/pvModules.cshtml")


    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->

</div>
<!-- end page container -->
