﻿<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="magnify,jquery plugin,lightbox,viewer,Windows ?????,?????,???,??,??,??,??,???">
  <title>Magnify</title>
  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/balloon-css/0.5.0/balloon.min.css" rel="stylesheet">
  <link href="css/jquery.magnify.css" rel="stylesheet">
  <link href="css/snack.css" rel="stylesheet">
  <link href="css/snack-helper.css" rel="stylesheet">
  <link href="css/docs.css" rel="stylesheet">
  <link class="magnify-theme" href="css/magnify-bezelless-theme.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via  -->
  <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
    <div class="header p-20 text-white text-center m-l--15 m-r--15">
      <h1 class="m-t-15 m-b-10">Magnify</h1>
      <p>Magnify is a jQuery plugin to view images just like in Windows.</p>

	  
    </div>
    <h2 class="b-b-1 p-b-10 p-t-10 m-t-30" id="examples">Examples</h2>
    <p>All the pictures come from Flickr website, copyright to the original author. You can play the following example by changing
      themes and options in the playground. 
    </p>
    <div id="playground">
      <div class="form-inline">
        <select class="form-field" @change="changeTheme">
          <option value="0">default theme</option>
          <option value="1" selected="">bezelless theme</option>
          <option value="2">white theme</option>
        </select>
      </div>
      <div class="image-set m-t-20">
        <a data-magnify="gallery" data-src="" data-caption="Slipping Away by Jerry Fryer" data-group="a" href="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
          <img src="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_s.jpg" alt="">
        </a>
        <a data-magnify="gallery" data-src="" data-caption="Mi Fuego by albert dros" data-group="a" href="https://farm4.staticflickr.com/3804/33589584740_b0fbdcd4aa_z.jpg">
          <img src="https://farm4.staticflickr.com/3804/33589584740_b0fbdcd4aa_s.jpg" alt="">
        </a>
        <a data-magnify="gallery" data-src="" data-caption="Winter Fairytale by Achim Thomae" data-group="a" href="https://farm1.staticflickr.com/470/31340603494_fb7228020d_z.jpg">
          <img src="https://farm1.staticflickr.com/470/31340603494_fb7228020d_s.jpg" alt="">
        </a>
      </div>
      <div class="boxes default m-t-20">
        <div class="box headed">Options Generator</div>
        <div class="box bodied">
          <div class="row form-horizontal">
            <div class="col-6">
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  draggable
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="draggable" name="draggable" v-model="options.draggable">
                    <label for="draggable">{{options.draggable}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  resizable
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="resizable" name="resizable" v-model="options.resizable">
                    <label for="resizable">{{options.resizable}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  movable
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="movable" name="movable" v-model="options.movable">
                    <label for="movable">{{options.movable}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  keyboard
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="keyboard" name="keyboard" v-model="options.keyboard">
                    <label for="keyboard">{{options.keyboard}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  title
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="title" name="title" v-model="options.title">
                    <label for="title">{{options.title}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  multiInstances
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="multiInstances" name="multiInstances" v-model="options.multiInstances">
                    <label for="multiInstances">{{options.multiInstances}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  fixedContent
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="fixedContent" name="fixedContent" v-model="options.fixedContent">
                    <label for="fixedContent">{{options.fixedContent}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  fixedModalPos
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="fixedModalPos" name="fixedModalPos" v-model="options.fixedModalPos">
                    <label for="fixedModalPos">{{options.fixedModalPos}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  fixedModalSize
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="fixedModalSize" name="fixedModalSize" v-model="options.fixedModalSize">
                    <label for="fixedModalSize">{{options.fixedModalSize}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  modalWidth
                </label>
                <div class="col-8">
                  <input type="number" name="modalWidth" class="form-field" min="0" v-model="options.modalWidth">
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  modalHeight
                </label>
                <div class="col-8">
                  <input type="number" name="modalHeight" class="form-field" min="0" v-model="options.modalHeight">
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  gapThreshold
                </label>
                <div class="col-8">
                  <input type="number" name="gapThreshold" class="form-field" min="0" step=".01" v-model="options.gapThreshold">
                </div>
              </div>

              <div class="form-item">
                <label for="" class="col-4 form-label">
                  zIndex
                </label>
                <div class="col-8">
                  <input type="number" name="zIndex" class="form-field" min="1" step="1" v-model="options.zIndex">
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  dragHandle
                </label>
                <div class="col-8">
                  <div class="radio inline m-r-10">
                    <input type="radio" id="magnify-modal" value=".magnify-modal" v-model="options.dragHandle">
                    <label for="magnify-modal">magnify-modal</label>
                  </div>
                  <div class="radio inline m-r-10 m-l-0">
                    <input type="radio" id="magnify-header" value=".magnify-header" v-model="options.dragHandle">
                    <label for="magnify-header">magnify-header</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-6">

              <div class="form-item">
                <label for="" class="col-4 form-label">
                  ratioThreshold
                </label>
                <div class="col-8">
                  <input type="number" name="ratioThreshold" class="form-field" min="0" step=".1" v-model="options.ratioThreshold">
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  minRatio
                </label>
                <div class="col-8">
                  <input type="number" name="minRatio" class="form-field" min="0.05" max="1" step=".05" v-model="options.minRatio">
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  maxRatio
                </label>
                <div class="col-8">
                  <input type="number" name="maxRatio" class="form-field" min="1" max="16" step=".05" v-model="options.maxRatio">
                </div>
              </div>

              <div class="form-item">
                <label for="" class="col-4 form-label">
                  headToolbar
                  <span data-balloon="Pay attention to the order of choice." data-balloon-pos="up">
                    <i class="fa fa-info-circle text-danger"></i>
                  </span>
                </label>
                <div class="col-8">
                  <div class="checkbox inline m-r-10">
                    <input type="checkbox" name="minimize" id="minimize" value="minimize" v-model="options.headToolbar">
                    <label for="minimize">minimize</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="maximize" id="maximize" value="maximize" v-model="options.headToolbar">
                    <label for="maximize">maximize</label>
                  </div>
                  <div class="checkbox inline m-l-0">
                    <input type="checkbox" name="close" id="close" value="close" v-model="options.headToolbar">
                    <label for="close">close</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  footToolbar
                  <span data-balloon="Pay attention to the order of choice." data-balloon-pos="up">
                    <i class="fa fa-info-circle text-danger"></i>
                  </span>
                </label>
                <div class="col-8">
                  <div class="checkbox inline m-r-10">
                    <input type="checkbox" name="zoomIn" id="zoomIn" value="zoomIn" v-model="options.footToolbar">
                    <label for="zoomIn">zoomIn</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="zoomOut" id="zoomOut" value="zoomOut" v-model="options.footToolbar">
                    <label for="zoomOut">zoomOut</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="prev" id="prev" value="prev" v-model="options.footToolbar">
                    <label for="prev">prev</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="fullscreen" id="fullscreen" value="fullscreen" v-model="options.footToolbar">
                    <label for="fullscreen">fullscreen</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="next" id="next" value="next" v-model="options.footToolbar">
                    <label for="next">next</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="actualSize" id="actualSize" value="actualSize" v-model="options.footToolbar">
                    <label for="actualSize">actualSize</label>
                  </div>
                  <div class="checkbox inline m-r-10 m-l-0">
                    <input type="checkbox" name="rotateRight" id="rotateRight" value="rotateRight" v-model="options.footToolbar">
                    <label for="rotateRight">rotateRight</label>
                  </div>
                  <div class="checkbox inline m-l-0">
                    <input type="checkbox" name="rotateLeft" id="rotateLeft" value="rotateLeft" v-model="options.footToolbar">
                    <label for="rotateLeft">rotateLeft</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  initMaximized
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="initMaximized" name="initMaximized" v-model="options.initMaximized">
                    <label for="initMaximized">{{options.initMaximized}}</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  initAnimation
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="initAnimation" name="initAnimation" v-model="options.initAnimation">
                    <label for="initAnimation">{{options.initAnimation}}</label>
                  </div>
                </div>
              </div>

              <div class="form-item">
                <label for="" class="col-4 form-label">
                  initEvent
                </label>
                <div class="col-8">
                  <div class="radio inline">
                    <input type="radio" id="click" value="click" v-model="options.initEvent">
                    <label for="click">click</label>
                  </div>
                  <div class="radio inline">
                    <input type="radio" id="dblclick" value="dblclick" v-model="options.initEvent">
                    <label for="dblclick">dblclick</label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  icons
                </label>
                <div class="col-8">
                  {...}
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  i18n
                </label>
                <div class="col-8">
                  {...}
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  callbacks
                </label>
                <div class="col-8">
                  {...}
                </div>
              </div>
              <div class="form-item">
                <label for="" class="col-4 form-label">
                  progressiveLoading
                </label>
                <div class="col-8">
                  <div class="checkbox inline">
                    <input type="checkbox" id="progressiveLoading" name="progressiveLoading" v-model="options.progressiveLoading">
                    <label for="progressiveLoading">{{options.progressiveLoading}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')

  </script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/jquery.magnify.js"></script>
  <script>
    window.prettyPrint && prettyPrint();

    var defaultOpts = {
      draggable: true,
      resizable: true,
      movable: true,
      keyboard: true,
      title: true,
      modalWidth: 320,
      modalHeight: 320,
      fixedContent: true,
      fixedModalSize: false,
      initMaximized: true,
      gapThreshold: 0.02,
      ratioThreshold: 0.1,
      minRatio: 0.05,
      maxRatio: 16,
      headToolbar: ['maximize', 'close'],
      footToolbar: ['zoomIn', 'zoomOut', 'prev', 'fullscreen', 'next', 'actualSize', 'rotateRight'],
      multiInstances: true,
      initEvent: 'click',
      initAnimation: true,
      fixedModalPos: false,
      zIndex: 1090,
      dragHandle: '.magnify-modal',
      progressiveLoading: true
    };

    var vm = new Vue({
      el: '#playground',
      data: {
        options: defaultOpts
      },
      methods: {
        changeTheme: function (e) {
          if (e.target.value === '0') {
            $('.magnify-theme').remove();
          } else if (e.target.value === '1') {
            $('.magnify-theme').remove();
            $('head').append('<link class="magnify-theme" href="css/magnify-bezelless-theme.css" rel="stylesheet">');
          } else if (e.target.value === '2') {
            $('.magnify-theme').remove();
            $('head').append('<link class="magnify-theme" href="css/magnify-white-theme.css" rel="stylesheet">');
          }
        }
      },
        updated: function () {
        $('[data-magnify]').magnify(this.options);
      }
    });
//options.initMaximized=true;

  </script>
</body>

</html>
