﻿<div class="content-page">


    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Categories</span> <button type="button" style="width:120px" class="btn btn-flat btn-success pull-right btn-sm" id="btnPreview"><i class="fa fa-eye fa-fw" aria-hidden="true"></i> Preview</button></h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container" style="overflow-y:auto">

                <div class="col-md-12" style="padding-left:0px;padding-right:5px">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Category</th>
                                                    <th>Sub-Categories</th>
                                                    <th>Status</th>
                                                    <th style="width:100px">Date</th>
                                                    <th style="text-align:center"> <button type="button" class="btn btn-flat btn-success pull-right btn-xs" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Category</button> </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblCategories"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
    }
    /* Display the control once it is inside the map. */
    #dvMap1 .map-control {
        display: block;
    }

    #dvMap11 .map-control {
        display: block;
    }

    .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>


<div class="fade modal adminUsers-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg" style="margin-top:0px;width:90%">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-5">
                        <input id="searchCoordinates" type="text" class="col-md-10 cleanUserField" style="border:1px solid silver;height:26px;" placeholder="Co-orddinates...">
                        <div class="input-group col-md-2" style="">
                            <div class="input-group-addon  btn btn-default" id="btnSearchCoordinates" style="height:26px;border:1px solid silver;padding: 5px 14px;">
                                <i class="fas fa-search "></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <input id="searchAddress" type="text" class="col-md-10 cleanUserField controls" style="border:1px solid silver;height:26px;" placeholder="Address, Street or Suburb...">
                        <div class="input-group col-md-2">
                            <div class="input-group-addon  btn btn-default" id="btnAddress" style="height:26px;border:1px solid silver;padding: 5px 14px;">
                                <i class="fas fa-search "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding:0px;">

                <div class="" style="height:450px;padding-right:10px;padding-left:10px">
                    <div id="style-selector-control1" class="map-control">
                        <select id="style-selector1" class="selector-control btn btn-xs">
                            <option value="default">Default</option>
                            <option value="silver">Silver</option>
                            <option value="night">Night mode</option>
                            <option value="retro" selected="selected">Retro</option>
                            <option value="satellite">Satellite</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div id="dvMap11" class="col-md-12" style="height:100%">



                    </div>

                </div>

                <div class="row" style="padding-top:20px">


                    <div class="col-md-4" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-map-pin"></i>
                                        </div>
                                        <input disabled id="txtCoordinates" type="text" class="form-control requiredUser cleanUserField" placeholder="Co-orddinates...">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group ">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-map-marker"></i>
                                        </div>
                                        <input disabled id="txtSuburb" onkeypress="validate(event)" type="text" class="form-control cleanUserField" placeholder="Suburb...">
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-4" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">





                                <div class="form-group clsPassword">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-map-signs"></i>
                                        </div>
                                        <input disabled id="txtStreet" type="text" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Street...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnSave" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>








<div class="modal fade modal-warning " id="viewModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:50px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <h4 style="margin-top: 10px">
                    <i class="mdi mdi-file-document" fa-fw aria-hidden="true"></i> <span class=""> <span class="clsReference"> Category</span></span>

                    <button type="button" id="" class="btn btn-flat btn-dark btn-xs bg-red-gradient  pull-right btnClose" style="width: 100px;margin-right:10px">Close</button>
                    <button type="button" id="" class="btn btn-flat btn-danger btn-xs bg-red-gradient  pull-right btnRemove" style="width: 100px;margin-right:10px">Remove</button>
                    <button type="button" id="" class="btn btn-flat btn-danger btn-xs bg-red-gradient  pull-right btnInactive clsBtnStatus" style="width: 180px;margin-right:10px">Change to Inactive</button>
                    <button type="button" id="" class="btn btn-flat btn-primary btn-xs bg-red-gradient  pull-right btnActive  clsBtnStatus" style="width: 180px;margin-right:10px">Change to Active</button>
                </h4>
            </div>
        </div>
    </nav>


    <div class="modal-dialog sizem" role="document" style="width: 100%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 50px;">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;padding-left:10px">

            <div class="container" style="margin: 0px;margin-bottom: 50px; width: 100%;padding:0px">

                <div class="row" id="" style="">
                    <div class="col-md-12">


                        <div class="panel panel-primary">

                            <div class="panel-body" style="padding:15px">

                                <h4 class="m-t-0" style="padding-left:10px;padding-right:10px"><span class="">Category</span><span style="font-size:13px;width:140px; " class=" pull-right clsStatus ">.</span></h4>

                                <div class="col-md-12" style="padding-bottom:15px;padding-top:5px">
                                    <input class="form-control" type="text" id="txtCategory" style="max-width:100%;min-width:100%;width:100%; min-height:40px;padding:10px" placeholder="Type question here..."/>
                                </div>
                                <div class="col-md-12 divSaveCategory" style="padding-bottom:15px;display:none">
                                    <div class="col-md-5"> </div>
                                    <div class="col-md-2">
                                        <button type="button" style="width:100%" class="btn btn-flat btn-success btn-sm btnSaveCategory" id=""><i class="fa fa-save fa-fw" aria-hidden="true"></i> Save Category</button>
                                    </div>
                                    <div class="col-md-5"> </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>





                <div class="row" id="" style="">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">
                                <div class="row">
                                    <div id="" class="col-md-12">
                                        <h4 class="m-t-0" style="padding-left:10px;padding-right:10px;"><span class="">Sub-Categories</span> <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNewItem"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Item</button></h4>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Sub-Category</th>
                                                        <th>Quick Report</th>
                                                        <th>Status</th>
                                                        <th style="width:100px">Date</th>
                                                        <th style="text-align:center"> Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblFAQItems"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>



    </div>

</div>












<div class="modal fade modal-warning " id="viewMapModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:55px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <div class="row" style="padding-top:5px">

                    <div class="col-sm-6 col-lg-2">
                        <h4 style="margin-top: 10px">
                            <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class="">Traffic Lights <span class=""></span></span>
                        </h4>
                    </div>

                    <div class="col-sm-6 col-lg-2 ">
                        <div class="panel text-center btnWidget active clsTop" id="all">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">All</h4>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2 ">
                        <div class="panel text-center btnWidget clsTop" id="working">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Working</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="panel text-center btnWidget clsTop" id="unsure">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Unsure</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="panel text-center btnWidget clsTop" id="broken">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Broken</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2" style="padding-top:5px">
                        <button type="button" id="" class="btn btn-flat btn-danger btn-sm bg-red-gradient  pull-right btnCloseMap" style="width: 100px;margin-right:10px">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <div class="modal-dialog sizem" role="document" style="width: 103%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 30px;margin-left:-25px;margin-right:-25px">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;">

            <div class="container" style="margin: 0px;margin-bottom: 10px; width: 100%;padding:0px">

                <div class="row" id="" style="">
                    <div id="style-selector-control" class="map-control">
                        <select id="style-selector" class="selector-control btn btn-xs">
                            <option value="default">Default</option>
                            <option value="silver">Silver</option>
                            <option value="night">Night mode</option>
                            <option value="retro" selected="selected">Retro</option>
                            <option value="satellite">Satellite</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div id="dvMap1" class="" style="min-height: 95vh;">

                    </div>

                </div>



            </div>

        </div>

    </div>

</div>










<div class="fade modal confirmModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h4 class="m-t-0" style="padding-top:-10px;padding-bottom:5px;"> <span class="clsTitle"> Title</span></h4>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:20px">


                                <div class="col-md-12 clsMsg" id="" style="text-align:center;margin-bottom:20px">
                                    This is Confirm Message
                                </div>
                                <div class="col-md-12 " id="" style="margin-bottom:10px">
                                    <textarea rows="6" id="clsComment" disabled="disabled" class="form-control requiredComment" placeholder="Comment..."></textarea>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm" class="btn btn-flat btn-warning pull-right btn-sm">Yes</button>
                    </div>




                </div>

            </div>



        </div>

    </div>

</div>







<div class="fade modal answerModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h4 class="m-t-0" style="padding-top:-10px;padding-bottom:5px;"> <span class=""> Sub-Category</span></h4>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:20px">

                                <div class="col-md-12" id="clsCategoryTitle" style="text-align:center;margin-bottom:5px;font-weight:bold">
                                    Category
                                </div>
                                <div class="col-md-12 clsCategory1" id="" style="text-align:center;margin-bottom:20px;font-style:italic">
                                    This is Confirm Message
                                </div>
                                <div class="col-md-12" id="" style="text-align:left;margin-top:20px;font-weight:bold">
                                    Sub-Category:
                                </div>

                                <div class="form-group col-md-12 " id="" style="margin-bottom:10px">
                                    <input type="text" id="clsItem1" class="form-control requiredComment1" placeholder="Sub-Category..." />
                                </div>

                                <div class="form-group col-md-12" style="margin-bottom:10px">
                                    <label>Quick Report:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredComment1" id="clsCategoryType">
                                            <option value="">-- Choose --</option>
                                            <option value="quick reporting">Yes</option>
                                            <option value="all">No</option>
                                           
                                        </select>
                                    </div>
                                    <!-- /.input group -->
                                </div>



                            </div>
                        </div>




                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm1" class="btn btn-flat btn-warning pull-right btn-sm">Save</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm1Remove" class="btn btn-flat btn-warning pull-right btn-sm">Remove</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm1Recover" class="btn btn-flat btn-warning pull-right btn-sm">Undo</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm1New" class="btn btn-flat btn-warning pull-right btn-sm">Add</button>

                    </div>




                </div>

            </div>



        </div>

    </div>

</div>







<div class="fade modal questionModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h4 class="m-t-0" style="padding-top:-10px;padding-bottom:5px;"> <span class=""> New Category</span></h4>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:20px">

                          
                                <div class="col-md-12" id="" style="text-align:center;margin-bottom:20px;font-weight:bold">
                                    Category:
                                </div>
                                <div class="col-md-12 " id="" style="margin-bottom:10px">
                                    <textarea rows="7" id="clsCategory1" class="form-control requiredComment2" placeholder="Category..."></textarea>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm1Category" class="btn btn-flat btn-warning pull-right btn-sm">Add</button>

                    </div>




                </div>

            </div>



        </div>

    </div>

</div>

