﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Completed</span><span style="font-size:13px;text-transform:uppercase;cursor:pointer" class="selectedTitle pull-right allRisk">All</span></h4>
            </div>
        </div>





        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row" id="listCategory">


                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                @*<h4 class="m-b-30 m-t-0 selectedTitle">New Incidents</h4>*@
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped w-auto">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Reference</th>
                                                        <th>Location</th>
                                                        <th>Type</th>
                                                        <th>Assign To</th>
                                                        <th>Category</th>
                                                        <th>Sub-Category</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>
                                                            <button type="button" id="btnMap" class="btn btn-flat btn-dark btn-xs pull-right " style="width: 100px;">Map View</button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblReports"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
    }
    /* Display the control once it is inside the map. */
    #dvMap1 .map-control {
        display: block;
    }

    #dvMap11 .map-control {
        display: block;
    }

    .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>







<div class="modal fade modal-warning " id="viewModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:50px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">

            <div class="col-md-12">
                <div class="row" style="padding-top:5px">
                    <div class="col-sm-6 col-lg-3">
                        <h4 style="margin-top: 10px">
                            <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class=""> <span class="clsReferenceMain"></span></span>
                        </h4>
                    </div>
                    <div class="col-sm-6 col-lg-6 ">
                        <div class="col-lg-12 isMany">
                            <div class="col-sm-6 col-lg-5 ">
                                <div class="panel text-center btnWidget2" id="btnPrev">
                                    <div class="panel-heading">
                                        <h5 class="panel-title text-muted font-light"><i class="fa fa-arrow-left fa-fw"></i> Previous Issue</h5>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-2">
                                <h2 class="panel-title text-muted font-light" id="pageNum" style="text-align:center">1</h2>
                            </div>
                            <div class="col-sm-6 col-lg-5">
                                <div class="panel text-center btnWidget2 " id="btnNext">
                                    <div class="panel-heading">
                                        <h5 class="panel-title text-muted font-light"> Next Issue <i class="fa fa-arrow-right fa-fw"></i></h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3" style="padding-top:5px">
                        <button type="button" id="" class="btn btn-flat btn-dark btn-sm bg-red-gradient  pull-right btnClose" style="width: 80px;margin-right:10px">Back</button>
                        @*<button type="button" id="" class="btn btn-flat btn-primary btn-sm bg-red-gradient  pull-right btnAction" style="width: 80px;margin-right:10px">Action</button>*@

                    </div>
                </div>
            </div>


        </div>
    </nav>


    <div class="modal-dialog sizem" role="document" style="width: 100%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 50px;">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;padding-left:10px">

            <div class="container " style="margin: 0px;margin-bottom: 50px; width: 100%;padding:0px">

                <div class="row " id="divHeaders" style="">
                    <div class="col-md-12 ">


                        <div class="panel panel-primary" style="min-height:200px">

                            <div class="panel-body divHeaders" style="padding:15px">

                                <h4 class="m-t-0" style="padding-left:10px;padding-right:10px"><span class="clsProvince">.</span><span style="font-size:13px;width:140px; " class=" pull-right clsStatus ">.</span></h4>
                                <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color:#717376"><span class="clsAddress">.</span></h5>


                                <div class="col-md-12 panel" style="margin-bottom:30px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Confirmation</span></h5>
                                    <ul class="list-group col-md-4" style="margin-bottom:0px">
                                        <li class="list-group-item" style="">
                                            <span class="badge badge-primary clsConfirmedBy" style="width:200px">.</span>
                                            Confirmed By
                                        </li>
                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsConfirmedDate" style="width:200px">.</span>
                                            Confirmation Date
                                        </li>
                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:10px">
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsConfirmedComment" style="width:200px">.</span>
                                            Comment
                                        </li>
                                    </ul>

                                


                                </div>




                                <div class="col-md-12 panel" style="margin-bottom:30px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Fixing Request</span></h5>
                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item" style="">
                                            <span class="badge badge-primary clsReqFixName" style="width:200px">.</span>
                                            Requested Fixer
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsReqFixType" style="width:200px">.</span>
                                            Fixer Type
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-primary clsReqFixStatus" style="width:200px">.</span>
                                            Fixing Status
                                        </li>

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsReqFixDate" style="width:200px">.</span>
                                            Request Date
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:40px">

                                        <li class="list-group-item">
                                            <span class="badge badge-primary clsReqFixBy" style="width:200px; ">.</span>
                                            Requested By
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsReqFixComment" style="width:200px">.</span>
                                            Request Comment
                                        </li>

                                    </ul>

                                    <div class="clsFeedFixBack" style="padding-top:20px">

                                        <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Fixing Feedback <small> Completed</small></span></h5>
                                        <ul class="list-group col-md-4" style="margin-bottom:0px">
                                            <li class="list-group-item" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                                                <span class="badge badge-primary clsFeedFixStatus" style="width:200px">.</span>
                                                Feedback Status
                                            </li>
                                            <li class="list-group-item" " style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                                                <span class="badge badge-dark clsFeedFixDate" style="width:200px">.</span>
                                                Feedback Date
                                            </li>
                                            <li class="list-group-item" " style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                                                <span class="badge badge-primary clsFeedFixSubmittedBy" style="width:200px">.</span>
                                                Submitted By
                                            </li>
                                        </ul>


                                        <ul class="list-group col-md-4" style="margin-bottom:0px">

                                            Feedback Comment
                                            <li class="list-group-item clsFeedFixComment" style="min-height:116px;max-height:116px;overflow-y:auto">

                                            </li>
                                           
                                        </ul>

                                        <ul class="list-group col-md-4" style="margin-bottom:0px;">
                                            Feedback Images
                                            <li class="list-group-item clsFeedFixImages" style="min-height:116px;max-height:116px;overflow-y:auto">

                                            </li>
                                        </ul>
                                    </div>



                                </div>


                                <div class=" col-md-12 panel" style="margin-bottom:30px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Inspection Request</span></h5>
                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item" style="">
                                            <span class="badge badge-primary clsReqInspName" style="width:200px">.</span>
                                            Requested Inspector
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsReqInspType" style="width:200px">.</span>
                                            Inspector Type
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-primary clsReqInspStatus" style="width:200px">.</span>
                                            Inspection Status
                                        </li>

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsReqInspDate" style="width:200px">.</span>
                                            Request Date
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:40px">

                                        <li class="list-group-item">
                                            <span class="badge badge-primary clsReqInspBy" style="width:200px; ">.</span>
                                            Requested By
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsReqInspComment" style="width:200px">.</span>
                                            Request Comment
                                        </li>

                                    </ul>

                                    <div class="clsFeedBack" style="padding-top:20px">

                                        <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Inspection Feedback <small> Completed</small></span></h5>
                                        <ul class="list-group col-md-4" style="margin-bottom:0px">
                                            <li class="list-group-item" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                                                <span class="badge badge-primary clsFeedStatus" style="width:200px">.</span>
                                                Feedback Status
                                            </li>
                                            <li class="list-group-item" " style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                                                <span class="badge badge-dark clsFeedDate" style="width:200px">.</span>
                                                Feedback Date
                                            </li>
                                            <li class="list-group-item" " style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                                                <span class="badge badge-primary clsFeedSubmittedBy" style="width:200px">.</span>
                                                Submitted By
                                            </li>
                                        </ul>


                                        <ul class="list-group col-md-4" style="margin-bottom:0px">

                                            Feedback Comment
                                            <li class="list-group-item clsFeedComment" style="min-height:116px;max-height:116px;overflow-y:auto">

                                            </li>
                                          
                                        </ul>

                                        <ul class="list-group col-md-4" style="margin-bottom:0px;">
                                            Feedback Images
                                            <li class="list-group-item clsFeedImages" style="min-height:116px;max-height:116px;overflow-y:auto">

                                            </li>
                                        </ul>
                                    </div>



                                </div>





                                <div class=" col-md-12 panel" style="margin-bottom:10px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Report</span></h5>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">
                                        <li class="list-group-item">
                                            <span class="badge badge-primary clsCategory" style="width:200px">.</span>
                                            Category
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">



                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsSub" style="width:200px">.</span>
                                            Sub-Category
                                        </li>

                                    </ul>


                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-primary clsCoordinates btnLocate" style="width:200px; cursor:pointer">.</span>
                                            Co-ordinates
                                        </li>


                                    </ul>

                                    <div class="row" id="divMsgImg" style="">
                                       



                                        <ul class="col-md-4" style="margin-bottom:0px;margin-top:40px">

                                            <b class="col-md-12">Reporters</b>
                                            <li class=" clsReporters col-md-12" style="min-height:200px;max-height:200px;overflow-y:auto;margin-top:5px">




                                            </li>
                                        </ul>


                                        <ul class="col-md-4" style="margin-bottom:0px; padding-top:30px;margin-top:40px">
                                            <li class="list-group-item">
                                                <span class="badge badge-primary clsReportType" style="width:200px;">.</span>
                                                Report Type
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-dark clsReportDate" style="width:200px">.</span>
                                                Report Date
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-primary clsDeviceType" style="width:200px;">.</span>
                                                Device Type
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-dark clsLocationType" style="width:200px">.</span>
                                                Location Type
                                            </li>
                                        </ul>

                                        <ul class="col-md-4" style="margin-bottom:0px;margin-top:40px">
                                            <b class="col-md-12">Images</b>
                                            <li class="clsImages  clsClean col-md-12" style="min-height:80px;max-height:120px;overflow-y:auto;margin-top:5px">

                                            </li>
                                            <b class="col-md-12" style=";margin-top:20px">Comment</b>
                                            <textarea class=" clsMessage clsClean col-md-12" disabled style="min-height:65px; width:100%;min-width:100%; max-width:100%; max-height:65px; border:none">

                                    </textarea>
                                        </ul>




                                    </div>






                                </div>



                            </div>
                        </div>


                    </div>
                </div>



              


                <div class="row " id="" style="padding-bottom:50px">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">
                                <div class="row">
                                    <div id="" class="col-md-4">
                                        <h4 class="m-t-0" style="padding-left:10px;padding-right:10px;"><span class="">Directions</span></h4>
                                        <h6 class="m-t-0" style="padding-left:10px;padding-right:10px;color:#717376"><span id="clsDistance">.</span></h6>

                                    </div>
                                    <div id="" class="col-md-4">
                                        <select class="form-control" style="font-size:smaller;height: 30px" id="cboTravelMode">
                                            <option value="DRIVING" selected>DRIVING</option>
                                            <option value="BICYCLING">BICYCLING</option>
                                            <option value="TRANSIT">TRANSIT</option>
                                            <option value="WALKING">WALKING</option>
                                        </select>
                                    </div>
                                    <div id="" class="col-md-4" style="padding-right:20px">
                                        <select class="form-control" style="font-size:smaller;height: 30px;" id="cboStartFrom">
                                            <option value="Nearest" selected>Nearest Town</option>
                                            <option value="Current">Current Location</option>
                                            <option value="Office">Office Address</option>
                                        </select>
                                    </div>
                                </div>

                                <form id="form1" runat="server">
                                    <asp:ScriptManager runat="server" />
                                    <div class="row" id="" style="">
                                        <div class="col-md-12">
                                            <div id="dvMap" class="col-md-4" style="height: 500px">
                                            </div>
                                            <div id="pano" class="col-md-4" style="height: 500px">
                                            </div>
                                            <div id="dvPanel" class="col-md-4" style="height: 500px;margin-top:-10px;overflow-y:auto">
                                            </div>


                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>



    </div>

</div>



















<div class="fade modal acionModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto;background-color:rgba(0, 0, 0, 0.3) ">
    <div class="modal-dialog modal-lg" style="">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.5); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.5); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.5);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-12">
                            <h4 class="m-t-0" style="padding-left:10px;padding-right:10px"><span class="clsCategory">.</span></h4>
                            <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color:#717376"><span class="clsAddress">.</span></h5>
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">


                                <div class="col-md-12" id="" style="text-align:center;margin-top:15px;margin-bottom:15px">


                                    <div class="col-sm-6 col-lg-4 ">
                                        <div class="panel text-center btnWidget2 btnActionType" id="btnCloseTicket" data-type="Close">
                                            <div class="panel-heading">
                                                <h5 class="panel-title text-muted font-light" style="color:#717376"><b>Close</b></h5>
                                                <span style="font-size:11px;color:#717376"> Close all cases related to this ticket</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="panel text-center btnWidget2 btnActionType" id="btnFix" data-type="Fix">
                                            <div class="panel-heading">
                                                <h5 class="panel-title text-muted font-light" style="color:#717376"><b>Change Fixer</b></h5>
                                                <span style="font-size:11px;color:#717376"> Send another one to fix the problem</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="panel text-center btnWidget2 btnActionType" id="btnComplete" data-type="Complete">
                                            <div class="panel-heading">
                                                <h5 class="panel-title text-muted font-light" style="color:#717376"><b>Complete</b></h5>
                                                <span style="font-size:11px;color:#717376"> Issue is resolved  </span>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 btnCloseTicket btnActionTypeDiv" id="" style="margin-bottom:10px; display:none">
                                    <div class="form-group">
                                        <label style="">Reason:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fas fa-question"></i>
                                            </div>
                                            <select class="form-control cleanAction" id="cboReason">
                                                <option value="">-- Choose Reason --</option>
                                                <option value="Already Fixed">Already Fixed</option>
                                                <option value="Duplicate">Duplicate</option>
                                                <option value="Prank">Prank</option>
                                                <option value="Inspection Failed">Inspection Failed</option>
                                                <option value="Incorrect Location">Incorrect Location</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 btnFix btnActionTypeDiv" id="" style="margin-bottom:10px; display:none">
                                    <div class="form-group">
                                        <label style="">Fixer:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fas fa-question"></i>
                                            </div>
                                            <select class="form-control cleanAction cboType" id="cboFixerType">
                                                <option value="">-- Choose Fixer Type --</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Team">Team</option>
                                                <option value="Supplier">Supplier</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 btnComplete btnActionTypeDiv" id="" style="margin-bottom:10px; display:none">
                                    <div class="form-group" style="text-align:center">
                                        <i style="color:green" class="fas fa-check-circle fa-3x"></i><br />
                                        <label style="color:green;font-size:larger;margin-top:10px">
                                            By clicking submit you agree this issue is resolved.
                                        </label>
                                    </div>
                                    
                                </div>


                                <div class="col-md-6" id="" style="margin-bottom:10px;">
                                    <div class="form-group cboTypee " id="Employee" style="display:none">
                                        <label style="">Employee:</label>
                                        <div class="input-group date" style="width:100%">
                                            <button type="button" style="width:100%;height:38px" id="btnEmployee" data-id="" class="btn btnAdd btn-flat btn-default pull-right"> Select</button>
                                        </div>
                                    </div>
                                    <div class="form-group cboTypee" id="Team" style="display:none">
                                        <label style="">Team:</label>
                                        <div class="input-group date" style="width:100%">
                                            <button type="button" style="width:100%;" id="btnTeam" data-id="" class="btn btnAdd btn-flat btn-default pull-right"> Select</button>
                                        </div>
                                    </div>
                                    <div class="form-group cboTypee " id="Supplier" style="display:none">
                                        <label style="">Supplier:</label>
                                        <div class="input-group date" style="width:100%">
                                            <button type="button" style="width:100%;" id="btnSupplier" data-id="" class="btn btnAdd btn-flat btn-default pull-right"> Select</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 " id="" style="margin-bottom:10px">
                                    <textarea rows="5" id="clsComment" class="form-control cleanAction" placeholder="Comment..."></textarea>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;" id="btnSubmit" class="btn btn-flat btn-warning pull-right btn-sm">Submit</button>
                    </div>




                </div>

            </div>



        </div>

    </div>

</div>




<div class="fade modal usersmodallg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto;background-color:rgba(0, 0, 0, 0.3) ">
    <div class="modal-dialog modal-lg" style="margin-top:5px;">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.5); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.5); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.5);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h5 class="m-t-0" style="padding-top:-5px;padding-bottom:5px;"> <span class="clsTitle"> Select User</span></h5>
                        </div>
                        <div class="col-md-2">
                            <input id="txtSearch" type="text" class="form-control" style="padding-top:-5px;padding-bottom:5px;height:22px;font-size:12px;text-align:center" placeholder="search">
                        </div>
                        <div class="col-md-5">
                            <button type="button" style="min-width:130px;padding-top:-5px;padding-bottom:5px;" id="btnAddNewUser" class="btn btn-flat btn-warning pull-right btn-xs ">Create New User</button>
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">


                                <div class="col-md-12" id="listAllDiv" style="margin-bottom:10px;margin-top:10px;min-height:350px;max-height:400px;overflow-y:auto;padding-top:5px">


                                </div>

                            </div>
                        </div>




                    </div>

                    <div class="col-md-12">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;display:none" id="btnPickOne" class="btn btn-flat btn-warning pull-right btn-sm">Select</button>

                    </div>




                </div>

            </div>



        </div>

    </div>

</div>




<div class="fade modal adminUsers-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New User</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">


                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label>User Role:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredUser cleanUserField" id="cboRole">
                                            <option value="">-- Choose Role --</option>

                                        </select>
                                    </div>
                                    <!-- /.input group -->
                                </div>


                                <div class="form-group">
                                    <label style="">Email Address:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input id="txtEmailAddress" type="text" class="form-control requiredUser cleanUserField" placeholder="Email...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Cellphone Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <input id="txtCellNumber" onkeypress="validate(event)" maxlength="10" type="text" class="form-control cleanUserField" placeholder="Cellphone...">
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label style="">ID Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtIDNumber" onkeypress="validate(event)" maxlength="13" type="text" class="form-control cleanUserField" placeholder="ID Number...">
                                    </div>
                                </div>


                                <div class="form-group clsPassword">
                                    <label>Password:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="User password...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-6" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">


                                <div class="form-group">
                                    <label style="">Title:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember requiredUser cleanUserField" id="cboTitle">
                                            <option value="">-- Choose Title --</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">First Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtFirstName" type="text" class="form-control requiredUser cleanUserField" placeholder="First Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Last Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtLastName" type="text" class="form-control requiredUser cleanUserField" placeholder="Last Name...">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label style="">Gender:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember cleanUserField" id="cboGender">
                                            <option value="">-- Choose Gender --</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="form-group clsPassword">
                                    <label>Confirm Password:</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtConfirmPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Re-type password...">
                                    </div>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddUser" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>




