﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Comments</span><span style="font-size:smaller;text-transform:uppercase;cursor:pointer" class="selectedTitle pull-right allRisk">Questions</span></h4>
            </div>
        </div>





        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="panel text-center btnWidget active" id="Question">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Questions</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="mdi mdi-comment-question-outline text-primary m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="panel text-center btnWidget" id="Suggestion">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Suggestions</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="mdi mdi-comment-question-outline text-navy m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="panel text-center btnWidget" id="Complement">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Complements</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="mdi mdi-comment-question-outline text-primary m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                @*<h4 class="m-b-30 m-t-0 selectedTitle">New Incidents</h4>*@
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped w-auto">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Cellphone</th>
                                                        <th>Type</th>
                                                        <th>Subject</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblReports"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="modal fade modal-warning " id="viewModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color:#19293d; height:40px;border-bottom:1px solid gray">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <h3 style="margin-top: 10px; color:white">
                    <i class="fa fa-chart-line" fa-fw aria-hidden="true"></i> <span class=""> <span class="clsReference"></span></span>

                    <button type="button" id="" class="btn btn-flat btn-default  bg-red-gradient  pull-right btnClose btn-sm" style="width: 100px;margin-right:10px">Close</button>


                </h3>
            </div>
        </div>
    </nav>


    <div class="modal-dialog sizem" role="document" style="width: 100%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 50px;">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none">

            <div class="container" style="margin: 0px;margin-bottom: 50px; width: 100%;padding:0px">



                <div class="row">
                    <section id="cd-timeline" class="cd-container" style="width: 98%; margin: 10px;max-width:98%; padding: 0;">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-content"  style="width:100%">
                                <h3 class=""><span class="clsSubject"></span><small class="clsDate pull-right"></small><br /><small class="clsStatus pull-right"></small></h3>
                                <p class="clsBody"></p>
                            </div>
                        </div> 
                    </section>
                </div>












        <div class="row" style="margin-top:20px">

            <div class="col-md-6">


                <div class="panel panel-color panel-primary" style="height:370px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comments  <button type="button" id="" class="btn btn-flat btn-xs btn-default  bg-red-gradient  pull-right btn-sm" style="width: 120px;margin-right:10px">New Comment</button></h3>
                    </div>
                    <div class="panel-body" style="padding:0px">

                        <div class="col-md-12">
                            <section id="cd-timeline" class="cd-container cd-timelinee" style="width: 98%; margin: 10px;max-width:98%; padding: 0;">
                               
                            </section>
                        </div>

                    </div>
                </div>


            </div>


            <div class="col-md-6">
                <div class="panel panel-color panel-primary" style="height:370px">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="selectedTitle">Questions</span> History</h3>
                    </div>
                    <div class="panel-body" style="padding:0px;border: 1px solid #ddd;border-top:0px">

                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped w-auto">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Subject</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblReportsHistory"></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
        </div>



    </div>




</div>
