﻿
<div class="topbar" style="margin-left: 100px;margin-right: 100px;height: 0px;background:rgba(255, 255, 255, 0.00)">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="row" id="" style="margin-top:5px">

                    <div class="col-sm-6 col-lg-3">
                        <div data-target="#myCarousel" data-slide-to="0" class="panel text-center btnWidget active btnMap" id="btnMap">

                            <div class="panel-body">
                                <h5 class="m-t-0 m-b-0">
                                    <i class="fas fa-map-marked text-primary m-r-10"></i>
                                    <b class="text-white">Map</b>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div data-target="#myCarousel" data-slide-to="1" class="panel text-center btnWidget btnChart" id="btnCategory">
                            <div class="panel-body">
                                <h5 class="m-t-0 m-b-0">
                                    <i class="fas fa-chart-line text-primary m-r-10"></i>
                                    <b class="text-white">Categories</b>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div data-target="#myCarousel" data-slide-to="2" class="panel text-center btnWidget btnChart" id="btnRegion">
                            <div class="panel-body">
                                <h5 class="m-t-0 m-b-0">
                                    <i class="fas fa-chart-pie text-primary m-r-10"></i>
                                    <b class="text-white">Regions</b>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div data-target="#myCarousel" data-slide-to="3" class="panel text-center btnWidget btnChart" id="btnReporter">
                            <div class="panel-body">
                                <h5 class="m-t-0 m-b-0">
                                    <i class="fas fa-chart-pie text-primary m-r-10"></i>
                                    <b class="text-white">Reporters</b>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="content-page">
    <div class="content" style="margin-top: 50px !important;">
        <div class="">
            <div class="page-header-title">
                <h4 hidden class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Home</span><span style="font-size:13px;text-transform:uppercase;cursor:pointer" class="selectedTitle pull-right allRisk">Reported Issues</span></h4>
            </div>
        </div>


        <div class="map-control" id="divDate" style="border-radius: 5px;background: rgba(255, 255, 255, 0);z-index: 10;position: absolute;top:0;right:0;margin-top:109px;margin-right:80px; display:block">
            <div id="reportrange" class="btn btn-xs" style="background: #ffa500cc;border-radius: 5px;padding-left:20px !important;padding-right:20px !important;font-size: 13px !important;">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div class="page-content-wrapper ">
            <div class="container" style="margin-left:-25px;margin-right:-25px">
                <div class="" style="padding-top:0px">



                    <div class="container">

                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="item active">

                                    <div class="panel">
                                        <div class="panel-body">

                                            <div class="row divContainer1" id="" style="">
                                                <div id="style-selector-control" class="map-control" style="border-radius: 5px;background:rgba(255, 255, 255, 0.00);">


                                                    <select id="style-selector" class="selector-control btn btn-xs" style="background: #ffa500cc;border-radius: 5px;width:126px">
                                                        <option value="default">Default</option>
                                                        <option value="silver">Silver</option>
                                                        <option value="night">Night mode</option>
                                                        <option value="retro" selected="selected">Retro</option>
                                                        <option value="satellite">Satellite</option>
                                                        <option value="custom">Custom</option>
                                                    </select>
                                                    <br />
                                                    <select id="style-selector1" class="selector-control btn btn-xs" style="margin-top:5px;background: #ffa500cc;border-radius: 5px;width:126px">
                                                        <option value="All" selected="selected">All</option>
                                                        <option value="Reports">Reports</option>
                                                        <option value="Heat">Heat Map</option>
                                                        <option value="Shape">Shape Map</option>
                                                    </select>
                                                    <br />
                                                    <select id="style-selector2" class="selector-control btn btn-xs" style="margin-top:5px;background: #ffa500cc;border-radius: 5px;width:126px">
                                                        <option value="all">All</option>
                                                        <option value="new">Not Touched</option>
                                                        <option value="acknowledged">Acknowledged</option>
                                                        <option value="processing">Inprogress</option>
                                                        <option value="paused">Onhold</option>
                                                        <option value="closed">Cancelled</option>
                                                        <option value="resolved">Completed</option>
                                                        <option value="out of bounds">Out of Bounds</option>
                                                    </select>


                                                </div>


                                                <div id="dvMap1" class="" style="height: 100%">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <div class="item">

                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="row" id="" style="">

                                                <div class="col-md-12 divContainer1" id="" style="">
                                                    <div class="col-md-12" style="height: auto">
                                                        <div class="col-md-1" align="left">
                                                            <i id="btnBackCategory" style="display:none" class="btnBack fa fa-arrow-alt-circle-left fa-2x fa-arrow-btn"></i>
                                                        </div>
                                                        <div class="col-md-10" align="center">
                                                            <h5>Categories</h5>
                                                            <small class="clsDateRage">2022-02-01 - 2022-02-25</small>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                    <div id="chartdivCategory" class="col-md-8 divContainer" style="height: 100%">

                                                    </div>
                                                    <div id="chartdivCategorySide" class="col-md-4 divContainer" style="height: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="col-md-12 divContainer1" id="" style="">
                                                <div class="col-md-12 " style="height: auto">
                                                    <div class="col-md-1" align="left">
                                                        <i id="btnBackRegion" style="display:none" class="btnBack fa fa-arrow-alt-circle-left fa-2x fa-arrow-btn"></i>
                                                    </div>
                                                    <div class="col-md-10" align="center">
                                                        <h5>Regions</h5>
                                                        <small class="clsDateRage">2022-02-01 - 2022-02-25</small>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                                <div id="chartdivRegion" class="col-md-8 divContainer" style="height: 100%">

                                                </div>
                                                <div id="chartdivRegionSide" class="col-md-4 divContainer" style="height: 100%">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="item">

                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="col-md-12 divContainer1" id="" style="">
                                                <div class="col-md-12 " style="height: auto">
                                                    <div class="col-md-1" align="left">
                                                        <i id="btnBackRegion" style="display:none" class=" btnBack fa fa-arrow-alt-circle-left fa-2x fa-arrow-btn"></i>
                                                    </div>
                                                    <div class="col-md-10" align="center">
                                                        <h5>Top Reports</h5>
                                                        <small class="clsDateRage">2022-02-01 - 2022-02-25</small>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                                <div id="chartdivUsers" class="col-md-12 divContainer" style="height: 100%">

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>









<div class="fade modal appUserModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto;background-color:rgba(0, 0, 0, 0.8) ">
    <div class="modal-dialog modal-lg" style="margin-top:0px;width:95%">
        <div class="modal-content" style="background:rgba(0, 0, 0, 0.00)">


            <div class="modal-body" id="">

                <div class="row">
                    <div class="map-control" id="" style="background: rgba(255, 255, 255, 0);z-index: 10;position: absolute;top:0;right:0;margin-top: 0px;margin-right:0px; display:block;border: none !important;box-shadow: none !important;">
       
                        <a href="#"  data-dismiss="modal" id="" title="Close" style="color:red;border: 2px solid orange !important;" class="btnCloseMap waves-effect waves-light text-red notification-icon-box"><i class="fas fa-close"></i></a>

                    </div>


                    <div>
                        <div class="row p-b-10" style="text-align:center">
                            <img class="imgDiv" src="~/Content/Images/default-user.png" height="100" style="margin:auto;border-radius:50%" />
                        </div>
                        <h4 class="text-white" style="text-align:center">Mncedisi Khumalo</h4>
                        <h6 class="text-white" style="text-align:center;font-weight:normal">mncedicy@gmail.com</h6>
                    </div>


                    <div class="col-md-12">


                        <div class="row" id="">
                            <div class="col-sm-6 col-lg-3">
                                <div class="panel text-center btnWidget" id="cat0">
                                <div class="panel-heading" style="padding-bottom: 0px;">
                                    <h5 class="panel-title text-cornsilk font-light">All</h5>
                                    </div>
                                <div class="panel-body p-t-0" style="padding:10px;">
                                    <h3 class="m-t-0 m-b-0"><i class="fas fa-chart-line text-primary m-r-10"></i> <b class="text-white">90</b></h3><small style="font-size:12px" class="text-cornsilk m-b-0 m-t-0"><b style="color:orange">68</b>  Older Then 5 Days</small></div></div>
                            </div>
                            <div class="col-sm-6 col-lg-3"><div class="panel text-center btnWidget" id="cat1">
                                <div class="panel-heading" style="padding-bottom: 0px;">
                                <h5 class="panel-title text-cornsilk font-light">Road defects</h5></div><div class="panel-body p-t-0" style="padding:10px;"><h3 class="m-t-0 m-b-0"><i class="fas fa-chart-line text-primary m-r-10"></i> <b class="text-white">31</b></h3><small style="font-size:12px" class="text-cornsilk m-b-0 m-t-0"><b style="color:orange">24</b>  Older Then 5 Days</small>
                                        </div>
                                  </div>
                                </div>
                            <div class="col-sm-6 col-lg-3"><div class="panel text-center btnWidget active" id="cat2"><div class="panel-heading" style="padding-bottom: 0px;"><h5 class="panel-title text-cornsilk font-light">Damaged road infrastructure</h5></div><div class="panel-body p-t-0" style="padding:10px;"><h3 class="m-t-0 m-b-0"><i class="fas fa-chart-line text-primary m-r-10"></i> <b class="text-white">23</b></h3><small style="font-size:12px" class="text-cornsilk m-b-0 m-t-0"><b style="color:orange">14</b>  Older Then 5 Days</small>
                                               </div>
                                  </div>
                                </div>
                            <div class="col-sm-6 col-lg-3"><div class="panel text-center btnWidget" id="cat3"><div class="panel-heading" style="padding-bottom: 0px;"><h5 class="panel-title text-cornsilk font-light">Traffic lights maintenance</h5></div><div class="panel-body p-t-0" style="padding:10px;"><h3 class="m-t-0 m-b-0"><i class="fas fa-chart-line text-primary m-r-10"></i> <b class="text-white">19</b></h3><small style="font-size:12px" class="text-cornsilk m-b-0 m-t-0"><b style="color:orange">15</b>  Older Then 5 Days</small>
                                              </div>
                                  </div>
                                </div>
                       
                        </div>

                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                       
                    </div>




                </div>

            </div>



        </div>

    </div>

</div>












<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
    }
    /* Display the control once it is inside the map. */
    #dvMap1 .map-control {
        display: block;
    }

    #dvMap11 .map-control {
        display: block;
    }

    .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>







<div class="modal fade modal-warning " id="viewModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:50px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">

            <div class="col-md-12">
                <div class="row" style="padding-top:5px">
                    <div class="col-sm-6 col-lg-3">
                        <h4 style="margin-top: 10px">
                            <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class=""> <span class="clsReferenceMain"></span></span>
                        </h4>
                    </div>
                    <div class="col-sm-6 col-lg-6 ">
                        <div class="col-lg-12 isMany">
                            <div class="col-sm-6 col-lg-5 ">
                                <div class="panel text-center btnWidget2" id="btnPrev">
                                    <div class="panel-heading">
                                        <h5 class="panel-title text-cornsilk font-light"><i class="fa fa-arrow-left fa-fw"></i> Previous Ticket</h5>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-2">
                                <h2 class="panel-title text-cornsilk font-light clsIssuess" id="" style="text-align:center"></h2>
                            </div>
                            <div class="col-sm-6 col-lg-5">
                                <div class="panel text-center btnWidget2 " id="btnNext">
                                    <div class="panel-heading">
                                        <h5 class="panel-title text-cornsilk font-light"> Next Ticket <i class="fa fa-arrow-right fa-fw"></i></h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3" style="padding-top:5px">
                        <button type="button" id="" class="btn btn-flat btn-dark btn-sm bg-red-gradient  pull-right btnClose" style="width: 80px;margin-right:10px">Back</button>
                        <button type="button" id="" class="btn btn-flat btn-primary btn-sm bg-red-gradient  pull-right btnAction" style="width: 80px;margin-right:10px">Action</button>

                    </div>
                </div>
            </div>


        </div>
    </nav>


    <div class="modal-dialog sizem" role="document" style="width: 100%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 50px;">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;padding-left:10px">

            <div class="container " style="margin: 0px;margin-bottom: 50px; width: 100%;padding:0px">

                <div class="row " id="divHeaders" style="">
                    <div class="col-md-12 ">


                        <div class="panel panel-primary" style="min-height:200px">

                            <div class="panel-body divHeaders" style="padding:15px">

                                <h4 class="m-t-0" style="padding-left:10px;padding-right:10px"><span class="clsProvince">.</span><span style="font-size:13px;width:140px; " class=" pull-right clsStatus ">.</span></h4>
                                <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color:#717376"><span class="clsAddress">.</span></h5>



                                <div class=" col-md-12 panel" style="margin-bottom:10px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Report</span></h5>
                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item" style="">
                                            <span class="badge badge-warning clsName" style="width:200px">.</span>
                                            First Reporter Name
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsType" style="width:200px">.</span>
                                            Report Type
                                        </li>
                                        <li class="list-group-item" style="">
                                            <span class="badge badge-warning clsAcknowledgedBy" style="width:200px">.</span>
                                            Acknowledged By
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsCategory" style="width:200px">.</span>
                                            Category
                                        </li>

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsLocationType" style="width:200px">.</span>
                                            Location Type
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsIssues" style="width:200px">.</span>
                                            Number of Issues
                                        </li>

                                    </ul>


                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsCoordinates btnLocate" style="width:200px; cursor:pointer">.</span>
                                            Co-ordinates
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsDate" style="width:200px">.</span>
                                            Report Date
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsAcknowledgeDate" style="width:200px">.</span>
                                            Acknowledge Date
                                        </li>

                                    </ul>
                                </div>




                                <div class=" col-md-12 panel divInspection" style="margin-bottom:10px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Inspection</span></h5>
                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item" style="">
                                            <span class="badge badge-dark clsInspector clsclsInspect" style="width:200px">.</span>
                                            Inspector Name
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsInspectorType clsclsInspect" style="width:200px">.</span>
                                            Inspector Type
                                        </li>
                                        <li class="list-group-item divInspectionFeedback">
                                            <span class="badge badge-dark clsInspectionFeedbackBy clsclsInspect" style="width:200px">.</span>
                                            Feedback Submitted By
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsInspectionStatus clsclsInspect" style="width:200px">.</span>
                                            Inspection Status
                                        </li>

                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsInspectorAssignedBy clsclsInspect" style="width:200px">.</span>
                                            Inspector Assigned By
                                        </li>
                                        <li class="list-group-item divInspectionFeedback">
                                            <span class="badge badge-dark clsInspectionFeedbackStatus clsclsInspect" style="width:200px">.</span>
                                            Feedback Status
                                        </li>

                                    </ul>


                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsInspectorAssignDate clsclsInspect" style="width:200px; cursor:pointer">.</span>
                                            Inspector Assigned Date
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsInspectionComment clsclsInspect" style="width:200px">.</span>
                                            Inspection Instructions
                                        </li>
                                        <li class="list-group-item divInspectionFeedback">
                                            <span class="badge badge-dark clsInspectionFeedbackDate clsclsInspect" style="width:200px">.</span>
                                            Feedback Date
                                        </li>

                                    </ul>
                                </div>




                                <div class=" col-md-12 panel divFixing" style="margin-bottom:10px;padding:20px">
                                    <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color: #19293d;margin-bottom: 10px;"><span class="">Fixing</span></h5>
                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item" style="">
                                            <span class="badge badge-dark clsFixer clsclsFix" style="width:200px">.</span>
                                            Fixer Name
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsFixerType clsclsFix" style="width:200px">.</span>
                                            Fixer Type
                                        </li>
                                        <li class="list-group-item divFixingFeedback">
                                            <span class="badge badge-dark clsFixingFeedbackBy clsclsFix" style="width:200px">.</span>
                                            Feedback Submitted By
                                        </li>

                                    </ul>

                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsFixingStatus clsclsFix" style="width:200px">.</span>
                                            Fixing Status
                                        </li>

                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsFixerAssignedBy clsclsFix" style="width:200px">.</span>
                                            Fixer Assigned By
                                        </li>
                                        <li class="list-group-item divFixingFeedback">
                                            <span class="badge badge-dark clsFixingFeedbackStatus clsclsFix" style="width:200px">.</span>
                                            Feedback Status
                                        </li>

                                    </ul>


                                    <ul class="list-group col-md-4" style="margin-bottom:0px">

                                        <li class="list-group-item">
                                            <span class="badge badge-dark clsFixerAssignDate clsclsFix" style="width:200px; cursor:pointer">.</span>
                                            Fixer Assigned Date
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge badge-warning clsFixingComment clsclsFix" style="width:200px">.</span>
                                            Fixing Instructions
                                        </li>
                                        <li class="list-group-item divFixingFeedback">
                                            <span class="badge badge-dark clsFixingFeedbackDate clsclsFix" style="width:200px">.</span>
                                            Feedback Date
                                        </li>

                                    </ul>
                                </div>






                            </div>
                        </div>


                    </div>
                </div>



                <div class="row" id="divMsgImg" style="">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">
                                <h5 class="m-t-0" style="padding-left:10px;padding-right:10px;"><span class=""> Media</span></h5>

                                <ul class="list-group col-md-4" style="margin-bottom:0px;">
                                    Comments
                                    <textarea class="list-group-item clsMessage " disabled style="min-height:116px;width:100%;max-height:116px">

                                    </textarea>


                                </ul>

                                <ul class="list-group col-md-4" style="margin-bottom:0px;">
                                    Images
                                    <li class="list-group-item clsImages" style="min-height:116px;max-height:116px;overflow-y:auto">

                                    </li>
                                </ul>


                                <ul class="list-group col-md-4" style="margin-bottom:0px">
                                    Voices
                                    <li class="list-group-item clsVoices" style="min-height:116px;max-height:116px;overflow-y:auto">

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row " id="" style="">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">
                                <div class="row">
                                    <div id="" class="col-md-4">
                                        <h4 class="m-t-0" style="padding-left:10px;padding-right:10px;"><span class="">Directions</span></h4>
                                        <h6 class="m-t-0" style="padding-left:10px;padding-right:10px;color:#717376"><span id="clsDistance">.</span></h6>

                                    </div>
                                    <div id="" class="col-md-4">
                                        <select class="form-control" style="font-size:smaller;height: 30px" id="cboTravelMode">
                                            <option value="DRIVING" selected>DRIVING</option>
                                            <option value="BICYCLING">BICYCLING</option>
                                            <option value="TRANSIT">TRANSIT</option>
                                            <option value="WALKING">WALKING</option>
                                        </select>
                                    </div>
                                    <div id="" class="col-md-4" style="padding-right:20px">
                                        <select class="form-control" style="font-size:smaller;height: 30px;" id="cboStartFrom">
                                            <option value="Nearest" selected>Nearest Town</option>
                                            <option value="Current">Current Location</option>
                                            <option value="Office" disabled>Office Address</option>
                                        </select>
                                    </div>
                                </div>

                                <form id="form1" runat="server">
                                    <asp:ScriptManager runat="server" />
                                    <div class="row" id="" style="">
                                        <div class="col-md-12">
                                            <div id="dvMap" class="col-md-4" style="height: 500px">
                                            </div>
                                            <div id="pano" class="col-md-4" style="height: 500px">
                                            </div>
                                            <div id="dvPanel" class="col-md-4" style="height: 500px;margin-top:-10px;overflow-y:auto">
                                            </div>


                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>



    </div>

</div>












<div class="modal fade modal-warning " id="viewMapModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:55px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <div class="row" style="padding-top:5px">
                    <div class="col-sm-6 col-lg-2">
                        <h4 style="margin-top: 10px">
                            <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class="">Reported Issues <span class=""></span></span>
                        </h4>
                    </div>
                    <div class="col-sm-6 col-lg-2 ">
                        <div class="panel text-center btnWidget  clsTop" id="all">
                            <div class="panel-heading">
                                <h4 class="panel-title text-cornsilk font-light">All</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2 ">
                        <div class="panel text-center btnWidget active clsTop" id="Pothole">
                            <div class="panel-heading">

                                <h5 class="panel-title text-cornsilk font-light"><span style="zoom: 60%;" class="ripple-red1"></span> Potholes</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="panel text-center btnWidget clsTop" id="Broken_Traffic_Light">
                            <div class="panel-heading">

                                <h5 class="panel-title text-muted font-light"> <span style="zoom: 60%;" class="ripple-red2"></span> Broken Traffic Lights</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="panel text-center btnWidget clsTop" id="Other">
                            <div class="panel-heading">

                                <h5 class="panel-title text-muted font-light"><span style="zoom: 60%;" class="ripple-red3"></span> Other</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2" style="padding-top:5px">
                        <button type="button" id="" class="btn btn-flat btn-danger btn-sm bg-red-gradient  pull-right btnCloseMap" style="width: 100px;margin-right:10px">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <div class="modal-dialog sizem" role="document" style="width: 103%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 30px;margin-left:-25px;margin-right:-25px">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;">

            <div class="container" style="margin: 0px;margin-bottom: 10px; width: 100%;padding:0px">




            </div>

        </div>

    </div>

</div>










<div class="fade modal acionModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto;background-color:rgba(0, 0, 0, 0.3) ">
    <div class="modal-dialog modal-lg" style="">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.5); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.5); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.5);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-12">
                            <h4 class="m-t-0" style="padding-left:10px;padding-right:10px"><span class="clsCategory">.</span></h4>
                            <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color:#717376"><span class="clsAddress">.</span></h5>
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">


                                <div class="col-md-12" id="" style="text-align:center;margin-top:15px;margin-bottom:15px">


                                    <div class="col-sm-6 col-lg-4 ">
                                        <div class="panel text-center btnWidget btnActionType" id="btnCloseTicket" data-type="Close">
                                            <div class="panel-heading">
                                                <h5 class="panel-title text-muted font-light" style="color:#717376"><b>Close</b></h5>
                                                <span style="font-size:11px;color:#717376"> Close all cases related to this ticket</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="panel text-center btnWidget btnActionType" id="btnInspect" data-type="Inspect">
                                            <div class="panel-heading">
                                                <h5 class="panel-title text-muted font-light" style="color:#717376"><b>Inspect</b></h5>
                                                <span style="font-size:11px;color:#717376"> Send inspector to the location  </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="panel text-center btnWidget btnActionType" id="btnFix" data-type="Fix">
                                            <div class="panel-heading">
                                                <h5 class="panel-title text-muted font-light" style="color:#717376"><b>Fix</b></h5>
                                                <span style="font-size:11px;color:#717376"> Send someone to fix the problem</span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 btnCloseTicket btnActionTypeDiv" id="" style="margin-bottom:10px; display:none">
                                    <div class="form-group">
                                        <label style="">Reason:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fas fa-question"></i>
                                            </div>
                                            <select class="form-control cleanAction" id="cboReason">
                                                <option value="">-- Choose Reason --</option>
                                                <option value="Already Fixed">Already Fixed</option>
                                                <option value="Duplicate">Duplicate</option>
                                                <option value="Prank">Prank</option>
                                                <option value="Assessment Failed">Assessment Failed</option>
                                                <option value="Incorrect Location">Incorrect Location</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 btnFix btnActionTypeDiv" id="" style="margin-bottom:10px; display:none">
                                    <div class="form-group">
                                        <label style="">Fixer:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fas fa-question"></i>
                                            </div>
                                            <select class="form-control cleanAction cboType" id="cboFixerType">
                                                <option value="">-- Choose Fixer Type --</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Team">Team</option>
                                                <option value="Supplier">Supplier</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 btnInspect btnActionTypeDiv" id="" style="margin-bottom:10px; display:none">
                                    <div class="form-group">
                                        <label style="">Inspector:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fas fa-question"></i>
                                            </div>
                                            <select class="form-control cleanAction cboType" id="cboFixerType">
                                                <option value="">-- Choose Fixer Type --</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Team">Team</option>
                                                <option value="Supplier">Supplier</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6" id="" style="margin-bottom:10px;">
                                    <div class="form-group cboTypee " id="Employee" style="display:none">
                                        <label style="">Employee:</label>
                                        <div class="input-group date" style="width:100%">
                                            <button type="button" style="width:100%;height:38px" id="btnEmployee" data-id="" class="btn btnAdd btn-flat btn-default pull-right"> Select</button>
                                        </div>
                                    </div>
                                    <div class="form-group cboTypee" id="Team" style="display:none">
                                        <label style="">Team:</label>
                                        <div class="input-group date" style="width:100%">
                                            <button type="button" style="width:100%;" id="btnTeam" data-id="" class="btn btnAdd btn-flat btn-default pull-right"> Select</button>
                                        </div>
                                    </div>
                                    <div class="form-group cboTypee " id="Supplier" style="display:none">
                                        <label style="">Supplier:</label>
                                        <div class="input-group date" style="width:100%">
                                            <button type="button" style="width:100%;" id="btnSupplier" data-id="" class="btn btnAdd btn-flat btn-default pull-right"> Select</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 " id="" style="margin-bottom:10px">
                                    <textarea rows="5" id="clsComment" class="form-control cleanAction" placeholder="Comment..."></textarea>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;" id="btnSubmit" class="btn btn-flat btn-warning pull-right btn-sm">Submit</button>
                    </div>




                </div>

            </div>



        </div>

    </div>

</div>




<div class="fade modal usersmodallg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto;background-color:rgba(0, 0, 0, 0.3) ">
    <div class="modal-dialog modal-lg" style="margin-top:5px;">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.5); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.5); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.5);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h5 class="m-t-0" style="padding-top:-5px;padding-bottom:5px;"> <span class="clsTitle"> Select User</span></h5>
                        </div>
                        <div class="col-md-2">
                            <input id="txtSearch" type="text" class="form-control" style="padding-top:-5px;padding-bottom:5px;height:22px;font-size:12px;text-align:center" placeholder="search">
                        </div>
                        <div class="col-md-5">
                            <button type="button" style="min-width:130px;padding-top:-5px;padding-bottom:5px;" id="btnAddNewUser" class="btn btn-flat btn-warning pull-right btn-xs ">Create New User</button>
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">


                                <div class="col-md-12" id="listAllDiv" style="margin-bottom:10px;margin-top:10px;min-height:350px;max-height:400px;overflow-y:auto;padding-top:5px">


                                </div>

                            </div>
                        </div>




                    </div>

                    <div class="col-md-12">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;display:none" id="btnPickOne" class="btn btn-flat btn-warning pull-right btn-sm">Select</button>

                    </div>




                </div>

            </div>



        </div>

    </div>

</div>




<div class="fade modal adminUsers-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New User</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row">


                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group">
                                    <label>User Role:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredUser cleanUserField" id="cboRole">
                                            <option value="">-- Choose Role --</option>

                                        </select>
                                    </div>
                                    <!-- /.input group -->
                                </div>


                                <div class="form-group">
                                    <label style="">Email Address:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input id="txtEmailAddress" type="text" class="form-control requiredUser cleanUserField" placeholder="Email...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Cellphone Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <input id="txtCellNumber" onkeypress="validate(event)" maxlength="10" type="text" class="form-control cleanUserField" placeholder="Cellphone...">
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label style="">ID Number:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtIDNumber" onkeypress="validate(event)" maxlength="13" type="text" class="form-control cleanUserField" placeholder="ID Number...">
                                    </div>
                                </div>


                                <div class="form-group clsPassword">
                                    <label>Password:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="User password...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-6" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">


                                <div class="form-group">
                                    <label style="">Title:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember requiredUser cleanUserField" id="cboTitle">
                                            <option value="">-- Choose Title --</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">First Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtFirstName" type="text" class="form-control requiredUser cleanUserField" placeholder="First Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="">Last Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input id="txtLastName" type="text" class="form-control requiredUser cleanUserField" placeholder="Last Name...">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label style="">Gender:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-mars-stroke-v"></i>
                                        </div>
                                        <select class="form-control requiredMember cleanUserField" id="cboGender">
                                            <option value="">-- Choose Gender --</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="form-group clsPassword">
                                    <label>Confirm Password:</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-unlock"></i>
                                        </div>
                                        <input id="txtConfirmPassword" type="password" maxlength="10" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Re-type password...">
                                    </div>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAddUser" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>




