﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Screening</span><span style="font-size:smaller;text-transform:uppercase;cursor:pointer" class="selectedTitle pull-right allRisk">Very High</span></h4>
            </div>
        </div>





        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center btnWidget active" id="Very_High">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Very High</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="fas fa-chart-line text-navy m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center btnWidget" id="High">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">High</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="fas fa-chart-line text-navy m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center btnWidget" id="Medium">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Medium</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="fas fa-chart-line text-success m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center btnWidget" id="Low">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Low</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="fas fa-chart-line text-primary m-r-10"></i><b class="text-white">0</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>0</b> From Last 24 Hours</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                @*<h4 class="m-b-30 m-t-0 selectedTitle">New Incidents</h4>*@
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped w-auto">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Cellphone</th>
                                                        <th>Name</th>
                                                        <th>Risk</th>
                                                        <th>Duration</th>
                                                        <th>Province</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblReports"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="modal fade modal-warning " id="viewModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color:#c09100; height:40px;border-bottom:1px solid gray">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <h3 style="margin-top: 10px; color:white">
                    <i class="fa fa-chart-line" fa-fw aria-hidden="true"></i> <span class=""> <span class="clsName"></span></span>

                    <button type="button" id="" class="btn btn-flat btn-default  bg-red-gradient  pull-right btnClose btn-sm" style="width: 100px;margin-right:10px">Close</button>


                </h3>
            </div>
        </div>
    </nav>


    <div class="modal-dialog sizem" role="document" style="width: 100%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 50px; padding-bottom: 90px;">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none">

            <div class="container" style="margin: 0px;margin-bottom: 50px; width: 100%;padding:0px">

              


                <div class="row">

                    <div class="col-md-12">


                        <div class="panel panel-primary">
                        
                            <div class="panel-body" style="padding:15px">

                                <h4 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px"><span class="clsCellphone">.</span><span style="font-size:13px;width:140px" class="badge badge-danger pull-right clsRisk">.</span></h4>


                                <ul class="list-group col-md-4" style="margin-bottom:0px">

                                    <li class="list-group-item" style="">
                                        <span class="badge badge-primary clsName" style="width:140px">.</span>
                                        Name
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-dark clsDuration" style="width:140px">.</span>
                                        Duration
                                    </li>

                                </ul>

                                <ul class="list-group col-md-4" style="margin-bottom:0px">

                                    <li class="list-group-item">
                                        <span class="badge badge-primary clsCellphone" style="width:140px">.</span>
                                        Cellphone
                                    </li>

                                    <li class="list-group-item">
                                        <span class="badge badge-dark clsStatus" style="width:140px">.</span>
                                        Status
                                    </li>

                                </ul>


                                <ul class="list-group col-md-4" style="margin-bottom:0px">

                                    <li class="list-group-item">
                                        <span class="badge badge-primary clsProvince" style="width:140px">.</span>
                                        Province
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-dark clsDate" style="width:140px">.</span>
                                        Date
                                    </li>

                                </ul>


                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">


                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">

                                <h4 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px"><span class="">Answered Questions</span><span style="font-size:17px; width:40px;" class=" pull-right clsYeses">.</span></h4>


                                <ul class="list-group" id="listQuestions" style="margin-bottom:0px;">
                                    <li class="list-group-item">
                                        <span class="badge badge-primary"></span>
                                        Name
                                    </li>
                                  
                                </ul>

                            </div>
                        </div>


                    </div>


                    <div class="col-md-6">
                        <div class="panel  panel-primary" style="min-height:386px">

                            <div class="panel-body"  style="padding:15px" >

                                <h4 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px"><span class="">Screening History</span><span style="font-size:13px; width:40px;" class="badge badge-success pull-right clsCount">.</span></h4>

                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped w-auto">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Reference</th>
                                                    <th>Risk</th>
                                                    <th>Province</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblReportsHistory"></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>



    <nav id="footer" class="navbar navbarr navbar-fixed-bottom  no-margin no-padding footerr" style="width: 100%;background-color:white; height:40px;border-top:1px solid silver">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <h3 style="margin-top: 10px; color:white">

                    <button type="button" id="called" class="btn btn-flat btn-warning btnSubmit bg-red-gradient  pull-right  btn-sm" style="width: 100px;margin-right:10px">Call</button>
                    <button type="button" id="closed" class="btn btn-flat btn-warning btnSubmit bg-red-gradient  pull-right  btn-sm" style="width: 100px;margin-right:10px">Close Case</button>

                </h3>
            </div>
        </div>
    </nav>


</div>
