﻿<div class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Mobile App</span><span style="font-size:smaller;text-transform:uppercase;cursor:pointer" class="selectedTitle pull-right allRisk">General</span></h4>
            </div>
        </div>





        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="panel text-center btnWidget active" id="Mobile">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Mobile App</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="mdi mdi-settings text-navy m-r-10"></i></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Mobile App </b> Settings</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="panel text-center btnWidget" id="Legal">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Legal</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="mdi mdi-checkbox-marked-outline text-navy m-r-10"></i></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Mobile App </b> Settings</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="panel text-center btnWidget" id="System">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">System</h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><i class="mdi mdi-bluetooth-connect text-primary m-r-10"></i></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Mobile App </b> Settings</p>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row">

                    <div class="col-md-12">


                        <div class="panel panel-primary">

                            <div class="panel-body" style="padding:15px;padding-bottom:20px">

                                <h4 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px"><span class="selectedTitle">General</span><span style="font-size:17px;font-weight:normal" class="pull-right">Settings</span></h4>

                                <div class="col-md-12 divSettings divMobile">

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%">
                                        <input id="checkboxOTP" type="checkbox">
                                        <label style="font-size:7px" for="checkboxOTP">
                                            <b>Phone number verification</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px"> Users will receive an SMS message containing a one-time-pin(OTP) to verify their phone numbers on registration.</small>
                                        </label>
                                    </div>

                                    @*<div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxScreening" type="checkbox">
                                        <label style="font-size:7px" for="checkboxScreening">
                                            <b>Enable screening feature</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px"> Allow the users to do screening if they think they have been exposed to COVID-19.</small>
                                        </label>
                                    </div>*@

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxComment" type="checkbox">
                                        <label style="font-size:7px" for="checkboxComment">
                                            <b>Enable comments feature</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px">Allow the users to suggest and ask questions about COVID-19.</small>
                                        </label>
                                    </div>


                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxNotifications" type="checkbox">
                                        <label style="font-size:7px" for="checkboxNotifications">
                                            <b>Enable notifications feature</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px">Allow the users to receive and view push notifications.</small>
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxArticles" type="checkbox">
                                        <label style="font-size:7px" for="checkboxArticles">
                                            <b>Enable articles feature</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px">Enable articles.</small>
                                        </label>
                                    </div>

                                </div>


                                <div class="col-md-12 divSettings divLegal" style="display:none">

                                    @*<div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%">
                                        <input id="checkboxOthersScreening" type="checkbox">
                                        <label style="font-size:7px" for="checkboxOthersScreening">
                                            <b>Screening for others</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px"> Users will be able to do screening for anyone doesn't have a smartphone or app. </small>
                                        </label>
                                    </div>*@

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxOPTScreening" type="checkbox">
                                        <label style="font-size:7px" for="checkboxOPTScreening">
                                            <b>Phone number verification</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px"> Users will receive an SMS message containing a one-time-pin(OTP) to verify their phone numbers when they screening for someone else. </small>
                                        </label>
                                    </div>

                                    @*<div class="panel panel-primary" style="margin-left:-25px;margin-right:-25px;margin-top:25px;margin-bottom:-20px">
                                        <div class="panel-body">
                                            <h4 class="m-b-30 m-t-0">
                                                Screening Questions
                                                <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Question</button>
                                            </h4>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Question</th>
                                                                    <th>Compulsory</th>
                                                                    <th>Yes Value</th>
                                                                    <th>No Value</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listQuestions"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>



                                <div class="col-md-12 divSettings divSystem" style="display:none">

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%">
                                        <input id="checkboxBluetooth" type="checkbox">
                                        <label style="font-size:7px" for="checkboxBluetooth">
                                            <b>Location</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px">The mobile app always check if Location is enabled. </small>
                                        </label>
                                    </div>
                                    @*<div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxLocation" type="checkbox">
                                        <label style="font-size:7px" for="checkboxLocation">
                                            <b>Location</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px">The mobile app always check if Location is enabled. </small>
                                        </label>
                                    </div>*@

                                    @*<div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxTracingData" type="checkbox">
                                        <label style="font-size:7px" for="checkboxTracingData">
                                            <b>Tracing Data</b>  <br />
                                            <small style="font-size:6px;margin-top:-15px">Allow users to view details if they were identified as close contacts of confirmed cases through the app. </small>
                                        </label>
                                    </div>*@

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxTracingDistanceAlert" type="checkbox">
                                        <label style="font-size:7px" for="checkboxTracingDistanceAlert">
                                            <b>Pothole alert</b>  <br />
                                            @*<small style="font-size:6px;margin-top:-15px">Users will get a real-time alert if they get too closer(less then 2Meters) to anyone using an app. </small>*@
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-primary checkbox-circle" style="zoom:200%;margin-top:15px">
                                        <input id="checkboxTracingConfirmedAlert" type="checkbox">
                                        <label style="font-size:7px" for="checkboxTracingConfirmedAlert">
                                            <b>Broken traffic light alert</b>  <br />
                                            @*<small style="font-size:6px;margin-top:-15px">Users will get a real-time alert if they get closer to confirmed cases. </small>*@
                                        </label>
                                    </div>

                                    @*<div class="form-group" style="padding-left:5px">
                                        <label>Confirmed case delay(Minutes):</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-globe"></i>
                                            </div>
                                            <select class="form-control" id="cboTracingDelay" style="width:50%">
                                                <option value="5">5 Minutes</option>
                                                <option value="10" selected>10 Minutes</option>
                                                <option value="20">20 Minutes</option>
                                                <option value="30">30 Minutes</option>
                                                <option value="45">45 Minutes</option>
                                                <option value="60">1 Hour</option>
                                                <option value="120">2 Hours</option>
                                                <option value="300">5 Hours</option>
                                                <option value="600">10 Hours</option>
                                                <option value="1440">24 Hours</option>
                                            </select>
                                        </div>
                                        <small style="font-size:12px;margin-top:-15px">Minutes to keep an identified confirmed case in the app before sending it to DOH. </small>

                                    </div>*@

                                </div>



                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>
</div>




<div class="fade modal in" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header">
                <h4 style="color: black;"><strong><i class="fas fa-plus fa-fw"></i> New Question</strong></h4>
            </div>

            <div class="modal-body" id="">

                <div class="row" style="padding:15px">


                    <div class="col-md-12" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">
                                <div class="form-group">
                                    <label>Question:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <textarea id="txtQuestion" type="text" rows="4" class="form-control requiredField cleanField" placeholder="Question..."></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="register-box-body col-md-6">
                                <div class="form-group">
                                    <label>Status:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredField cleanField" id="cboStatus">
                                            <option value="active" selected>Active</option>
                                            <option value="inactive">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="register-box-body col-md-6">
                                <div class="form-group">
                                    <label>Compulsory:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <select class="form-control requiredField cleanField" id="cboCompulsory">
                                            <option value="yes" selected>Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="register-box-body col-md-6">
                                <div class="form-group">
                                    <label>Positive Value(Yes):</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <input id="txtYesValue" value="Yes" type="text" class="form-control requiredField cleanField" placeholder="Yes Value...">
                                    </div>
                                </div>
                            </div>

                            <div class="register-box-body col-md-6">
                                <div class="form-group">
                                    <label>Negative Value(No):</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <input id="txtNoValue" value="No" type="text" class="form-control requiredField cleanField" placeholder="No Value...">
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>




                </div>

            </div>

            <div class="modal-footer">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                <button type="button" style="width:130px" id="btnAdd" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>







