﻿<div class="content-page">


    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><i class="fas fa-home"></i> <span class="allRisk">Traffic Lights</span> <button type="button" class="btn btn-flat btn-success pull-right btn-sm" id="btnAddNew"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New Traffic Light</button></h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container" style="overflow-y:auto">
                <div class="row" id="listRegions">


                </div>


                <div class="row">
                    <div class="col-md-12" style="padding-left:0px;padding-right:5px">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table id="myTable" class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Address</th>
                                                        <th>Town</th>
                                                        <th>Location</th>
                                                        <th style="width:100px">Region</th>
                                                        <th>Status</th>
                                                        <th style="text-align:center"> <button type="button" id="btnMap" class="btn btn-flat btn-dark btn-xs pull-right " style="width: 100px;">Map View</button></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblTrafficLights"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

               
            </div>
        </div>
    </div>
</div>




<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
    }
    /* Display the control once it is inside the map. */
    #dvMap1 .map-control {
        display: block;
    }

    #dvMap11 .map-control {
        display: block;
    }

    .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>


<div class="fade modal adminUsers-modal-lg in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog modal-lg" style="margin-top:0px;width:90%">
        <div class="modal-content" style="border-bottom: none !important; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header" style="border-bottom:none !important">
                <div class="row">
                 

                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group" style="margin-bottom: 5px !important;">
                                    <div class="input-group date">

                                        <input id="searchCoordinates" type="text" class="form-control cleanUserField" placeholder="Co-orddinates...">
                                        <div class="input-group-addon btn btn-warning"  id="btnSearchCoordinates">
                                            <i class="fas fa-search"></i>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group " style="margin-bottom: 5px !important;">
                                    <div class="input-group date">

                                        <input id="searchAddress" type="text" class="form-control cleanUserField" placeholder="Address, Street or Suburb...">
                                        <div class="input-group-addon btn btn-warning"  id="btnAddress"  >
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- /.col -->


                </div>
            </div>
            <div class="modal-body" style="padding:0px;">

                <div class="" style="height:450px;padding-right:10px;padding-left:10px">
                    <div id="style-selector-control" class="map-control" style="border-radius: 5px;background:rgba(255, 255, 255, 0.00);margin-left:20px">


                        <select id="style-selector" class="selector-control btn btn-xs" style="background: #ffa500cc;border-radius: 5px;width:126px">
                            <option value="default">Default</option>
                            <option value="silver">Silver</option>
                            <option value="night">Night mode</option>
                            <option value="retro" selected="selected">Retro</option>
                            <option value="satellite">Satellite</option>
                            <option value="custom">Custom</option>
                        </select>
                        <br />
                        <select id="style-selector1" class="selector-control btn btn-xs" style="margin-top:5px;background: #ffa500cc;border-radius: 5px;width:126px">
                            <option value="All" selected="selected">All</option>
                            <option value="Reports">Reports</option>
                            <option value="Heat">Heat Map</option>
                            <option value="Shape">Shape Map</option>
                        </select>
                        <br />
                      

                    </div>
                    <div id="dvMap11" class="col-md-12" style="height:100%">



                    </div>

                </div>

                <div class="row" style="padding-top:10px">


                    <div class="col-md-3" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group" style="margin-bottom: 5px !important;">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-map-pin"></i>
                                        </div>
                                        <input disabled id="txtCoordinates" type="text" class="form-control requiredUser cleanUserField" placeholder="Co-orddinates...">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" id="showDivTown">
                        <div class="box box-warning">

                            <div class="register-box-body col-md-12">

                                <div class="form-group " style="margin-bottom: 5px !important;">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-map-marker"></i>
                                        </div>
                                        <input disabled id="txtSuburb" onkeypress="validate(event)" type="text" class="form-control cleanUserField" placeholder="Suburb...">
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- /.col -->



                    <div class="col-md-3" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">





                                <div class="form-group clsPassword" style="margin-bottom: 5px !important;">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-map-signs"></i>
                                        </div>
                                        <input disabled id="txtStreet" type="text" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Street...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>



                    <div class="col-md-3" id="">

                        <div class="box box-warning">
                            <div class="register-box-body col-md-12">





                                <div class="form-group clsPassword" style="margin-bottom: 5px !important;">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <input disabled id="txtRegion" type="text" class="form-control requiredUser cleanUserField clsPasswords" placeholder="Region...">
                                    </div>
                                    <!-- /.input group -->
                                </div>


                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer"  style="border-top:none !important;text-align:center">
                <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>

                <i style="color:orange" class="fas fa-exclamation fa-2x"></i>

                <button type="button" style="width:130px" id="btnSave" class="btn btn-flat btn-success pull-right btn-sm"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save</button>

            </div>

        </div>

    </div>

</div>








<div class="modal fade modal-warning " id="viewModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:50px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <h4 style="margin-top: 10px">
                    <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class=""> <span class="clsReference"> Traffic Light</span></span>

                    <button type="button" id="" class="btn btn-flat btn-dark btn-xs bg-red-gradient  pull-right btnClose" style="width: 100px;margin-right:10px">Close</button>
                    <button type="button" id="" class="btn btn-flat btn-danger btn-xs bg-red-gradient  pull-right btnRemove" style="width: 100px;margin-right:10px">Remove</button>
                    <button type="button" id="" class="btn btn-flat btn-danger btn-xs bg-red-gradient  pull-right btnBroken clsBtnStatus" style="width: 180px;margin-right:10px">Change to Broken</button>
                    <button type="button" id="" class="btn btn-flat btn-primary btn-xs bg-red-gradient  pull-right btnWorking  clsBtnStatus" style="width: 180px;margin-right:10px">Change to Working</button>
                </h4>
            </div>
        </div>
    </nav>


    <div class="modal-dialog sizem" role="document" style="width: 100%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 50px;">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;padding-left:10px">

            <div class="container" style="margin: 0px;margin-bottom: 50px; width: 100%;padding:0px">

                <div class="row" id="" style="">
                    <div class="col-md-12">


                        <div class="panel panel-primary">

                            <div class="panel-body" style="padding:15px">

                                <h4 class="m-t-0" style="padding-left:10px;padding-right:10px"><span class="clsAddress">.</span><span style="font-size:13px;width:140px; " class=" pull-right clsStatus ">.</span></h4>
                                <h5 class="m-t-0 m-b-30" style="padding-left:10px;padding-right:10px;color:#717376"><span class="clsProvince">.</span></h5>


                                <ul class="list-group col-md-4" style="margin-bottom:0px">

                                    <li class="list-group-item" style="">
                                        <span class="badge badge-primary clsStreet" style="width:200px">.</span>
                                        Street
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-dark clsSuburb" style="width:200px">.</span>
                                        Suburb
                                    </li>

                                </ul>

                                <ul class="list-group col-md-4" style="margin-bottom:0px">

                                    <li class="list-group-item">
                                        <span class="badge badge-primary clsTown" style="width:200px">.</span>
                                        Town
                                    </li>

                                    <li class="list-group-item">
                                        <span class="badge badge-dark clsLocationType" style="width:200px">.</span>
                                        Region
                                    </li>

                                </ul>


                                <ul class="list-group col-md-4" style="margin-bottom:0px">

                                    <li class="list-group-item">
                                        <span class="badge badge-primary clsCoordinates btnLocate" style="width:240px; cursor:pointer">.</span>
                                        Co-ordinates
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-dark clsDate" style="width:240px">.</span>
                                        Date
                                    </li>

                                </ul>


                            </div>
                        </div>


                    </div>
                </div>





                <div class="row" id="" style="padding-bottom:40px">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">
                                <div class="row">
                                    <div id="" class="col-md-4">
                                        <h4 class="m-t-0" style="padding-left:10px;padding-right:10px;"><span class="">Directions</span></h4>
                                        <h6 class="m-t-0" style="padding-left:10px;padding-right:10px;color:#717376"><span id="clsDistance">.</span></h6>

                                    </div>
                                    <div id="" class="col-md-4">
                                        <select class="form-control" style="font-size:smaller;height: 30px" id="cboTravelMode">
                                            <option value="DRIVING" selected>DRIVING</option>
                                            <option value="BICYCLING">BICYCLING</option>
                                            <option value="TRANSIT">TRANSIT</option>
                                            <option value="WALKING">WALKING</option>
                                        </select>
                                    </div>
                                    <div id="" class="col-md-4" style="padding-right:20px">
                                        <select class="form-control" style="font-size:smaller;height: 30px;" id="cboStartFrom">
                                            <option value="Nearest" selected>Nearest Town</option>
                                            <option value="Current">Current Location</option>
                                            <option value="Office">Office Address</option>
                                        </select>
                                    </div>
                                </div>

                                <form id="form1" runat="server">
                                    <asp:ScriptManager runat="server" />
                                    <div class="row" id="" style="">
                                        <div class="col-md-12">
                                            <div id="dvMap" class="col-md-4" style="height: 500px">
                                            </div>
                                            <div id="pano" class="col-md-4" style="height: 500px">
                                            </div>
                                            <div id="dvPanel" class="col-md-4" style="height: 500px;margin-top:-10px;overflow-y:auto">
                                            </div>


                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>



    </div>

</div>












<div class="modal fade modal-warning " id="viewMapModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    <nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:55px;border-bottom:1px solid #9d9d9d">

        <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
            <div class="col-md-12">
                <div class="row" style="padding-top:5px">

                    <div class="col-sm-6 col-lg-2">
                        <h4 style="margin-top: 10px">
                            <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class="">Traffic Lights <span class=""></span></span>
                        </h4>
                    </div>

                    <div class="col-sm-6 col-lg-2 ">
                        <div class="panel text-center btnWidget2 active clsTop" id="all">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">All</h4>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2 ">
                        <div class="panel text-center btnWidget2 clsTop" id="working">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Working</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="panel text-center btnWidget2 clsTop" id="unsure">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Unsure</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="panel text-center btnWidget2 clsTop" id="broken">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light">Broken</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2" style="padding-top:5px">
                        <button type="button" id="" class="btn btn-flat btn-danger btn-sm bg-red-gradient  pull-right btnCloseMap" style="width: 100px;margin-right:10px">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <div class="modal-dialog sizem" role="document" style="width: 103%;height:100%; margin: 0px; overflow-x: hidden; margin-top: 30px;margin-left:-25px;margin-right:-25px">
        <div class="modal-content modal-size" style="margin: 0px;width: 100%;height:100%; border:none;">

            <div class="container" style="margin: 0px;margin-bottom: 10px; width: 100%;padding:0px">

                <div class="row" id="" style="">
                    <div id="style-selector-control" class="map-control">
                        <select id="style-selector" class="selector-control btn btn-xs">
                            <option value="default">Default</option>
                            <option value="silver">Silver</option>
                            <option value="night">Night mode</option>
                            <option value="retro" selected="selected">Retro</option>
                            <option value="satellite">Satellite</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div id="dvMap1" class="" style="min-height: 95vh;">

                    </div>

                </div>



            </div>

        </div>

    </div>

</div>










<div class="fade modal confirmModal in" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" style="display: none;overflow-y: auto; ">
    <div class="modal-dialog" style="">
        <div class="modal-content" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">


            <div class="modal-body" id="">

                <div class="row">

                    <div>
                        <div class="col-md-5">
                            <h4 class="m-t-0" style="padding-top:-10px;padding-bottom:5px;"> <span class="clsTitle"> Title</span></h4>
                        </div>
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-5">
                            
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:15px">


                                <div class="col-md-12 clsMsg" id="" style="text-align:center;margin-bottom:15px">
                                   This is Confirm Message
                                </div>
                                <div class="col-md-12 " id="" style="margin-bottom:10px">
                                   <textarea rows="4" id="clsComment" class="form-control requiredComment" placeholder="Comment..."></textarea>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <button type="button" style="width:130px" class="btn btn-danger btn-flat pull-left btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button type="button" style="min-width:130px;" id="btnYesConfirm" class="btn btn-flat btn-warning pull-right btn-sm">Yes</button>
                    </div>




                </div>

            </div>



        </div>

    </div>

</div>



