﻿@{
    ViewBag.Title = "Home Page";
}

<div class="" >
    <script src="~/Scripts/cruise_safe/js/jquery.min.js"></script>
    <script src="~/Scripts/cruise_safe/handleRsponsiveness.js"></script>
    <script src="~/Scripts/cruise_safe/Admin/signIn.js"></script>

    @Html.Partial("~/Views/Shared/Partials/pvLogin.cshtml")

</div>