﻿
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper" class="">

    <script src="~/Scripts/cruise_safe/js/jquery.min.js"></script>
    <script src="~/Scripts/cruise_safe/handlePrevleges.js"></script>
    <script src="~/Scripts/cruise_safe/handleSession.js"></script>

    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/data/countries2.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>



    <script src="~/Scripts/cruise_safe/Admin/homeIndex.js"></script>
    @*<script src="~/Scripts/arrive_alive/Admin/home.js"></script>*@

    @*--------------------- Session -----------------------*@


    <link href="~/Scripts/plugins/jquery-image-viewer-magnify/css/jquery.magnify.css" rel="stylesheet" />
    <link class="magnify-theme" href="~/Scripts/plugins/jquery-image-viewer-magnify/css/magnify-bezelless-theme.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/jquery-image-viewer-magnify/js/jquery.magnify.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization,places&key=AIzaSyBcFk6MBMbgyKwlbwdTcVS3eHm1bOUWT8s"></script>
    <script src="~/Scripts/richmarker.js"></script>

    @Html.Partial("~/Views/Shared/Partials/pvHeader.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvMenuBar.cshtml")

    @Html.Partial("~/Views/Shared/Partials/pvHome.cshtml")

    @Html.Partial("~/Views/Shared/Partials/pvFooter.cshtml")

</div>


