﻿
@{
    ViewBag.Title = "Reporting";
}


<div id="wrapper">





    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/cruise_safe/Reporting/Reporting.js"></script>
    @*--------------------- Session -----------------------*@
    <script src="~/Scripts/cruise_safe/handleSession.js"></script>
    <script src="~/Scripts/cruise_safe/handlePrevleges.js"></script>

    <link href="~/Scripts/plugins/jquery-image-viewer-magnify/css/jquery.magnify.css" rel="stylesheet" />
    <link class="magnify-theme" href="~/Scripts/plugins/jquery-image-viewer-magnify/css/magnify-bezelless-theme.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/jquery-image-viewer-magnify/js/jquery.magnify.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization,places&key=AIzaSyBcFk6MBMbgyKwlbwdTcVS3eHm1bOUWT8s"></script>

    @Html.Partial("~/Views/Shared/Partials/pvHeader.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvMenuBar.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Reporting/pvReporting.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvFooter.cshtml")

</div>
