﻿<div class="modal fade modal-success" id="loadMyCompaniesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none; z-index: 99922" aria-hidden="true">
    <form method="post" role="form" id="frmasxgexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" id="msgHxseader" style="color: green">
                    <h4><strong id="cornfidxmTixtle1" style="color: green"><i class="fa fa-briefcase" aria-hidden="true"></i> Select Company to work on.</strong></h4>
                </div>

                <div class="register-box-body">

                    <div class="row">

                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body table-responsive no-padding">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr style="background-color: #eee; color: #ffffff;">
                                                <th>#</th>
                                                <th>Company Name</th>
                                                <th>Registration Number</th>
                                                <th>Vat</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listSwitchCompany"></tbody>
                                    </table>

                                    <h3 id="zeroStats" class="box-title" style="text-align: center; display:none;"></h3>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="modal-footer">
                    <button class="pull-left" type="button" style="display:none;" id="btnDefaultCompany">
                        <small>Do not show this screen again</small>
                        <span class="badge" style="background-color: #d43f3a; width: 90px;"><i class="fas fa-times"></i></span>
                    </button>

                    <button type="button" id="btnSubmitCompany" class="btn btn-success"> Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>








<div class="modal fade modal-warning " id="viewMapModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" style="display: none; overflow: hidden; background-color: white;" aria-hidden="true">

    @*<nav id="header" class="navbar navbarr navbar-fixed-top  no-margin no-padding" style="width: 100%;background-color: rgba(255, 255, 255, 0.95); height:55px;border-bottom:1px solid #9d9d9d">

            <div id="header-container" class="container navbar-container no-margin no-padding col-md-12" style="width: 100%;">
                <div class="col-md-12">
                    <div class="row" style="padding-top:5px">
                        <div class="col-sm-6 col-lg-3">
                            <h4 style="margin-top: 10px">
                                <i class="fa fa-map" fa-fw aria-hidden="true"></i> <span class="">Reporting <span class=""></span></span>
                            </h4>
                        </div>
                        <div class="col-sm-6 col-lg-2 ">
                            <div class="panel text-center btnWidget2 active clsTop" id="all">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-muted font-light">All</h4>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2 ">
                            <div class="panel text-center btnWidget2 clsTop" id="User_Reporting">
                                <div class="panel-heading">

                                    <h5 class="panel-title text-muted font-light"><span style="zoom: 60%;" class="ripple-red1"></span> User Reporting</h5>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="panel text-center btnWidget2 clsTop" id="User_Quick_Reporting">
                                <div class="panel-heading">

                                    <h5 class="panel-title text-muted font-light"> <span style="zoom: 60%;" class="ripple-red2"></span> Quick Reporting</h5>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3" style="padding-top:5px">
                            <button type="button" id="" class="btn btn-flat btn-danger btn-sm bg-red-gradient  pull-right btnCloseMap" style="width: 100px;margin-right:10px">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>*@

    <div id="style-selector-control" class="map-control" style="border-radius: 5px;background:rgba(255, 255, 255, 0.00);">

        <select id="style-selector" class="selector-control btn btn-xs" style="background: #ffa500cc;border-radius: 5px;width:126px">
            <option value="default">Default</option>
            <option value="silver">Silver</option>
            <option value="night">Night mode</option>
            <option value="retro" selected="selected">Retro</option>
            <option value="satellite">Satellite</option>
            <option value="custom">Custom</option>
        </select>
        <br />
        <select id="style-selector1" class="selector-control btn btn-xs" style="margin-top:5px;background: #ffa500cc;border-radius: 5px;width:126px">
            <option value="All" selected="selected">All</option>
            <option value="Reports">Reports</option>
            <option value="Heat">Heat Map</option>
            <option value="Shape">Shape Map</option>
        </select>
        <br />
        <select id="style-selector2" class="selector-control btn btn-xs" style="margin-top:5px;background: #ffa500cc;border-radius: 5px;width:126px">
            <option value="all">All</option>
            <option value="new">Not Touched</option>
            <option value="acknowledged">Acknowledged</option>
            <option value="processing">Inprogress</option>
            <option value="paused">Onhold</option>
            <option value="closed">Cancelled</option>
            <option value="resolved">Completed</option>
            <option value="out of bounds">Out of Bounds</option>
        </select>


    </div>
    <div id="dvMap1" class="" style="min-height: 95vh;margin-left:15px;margin-top:10px">

    </div>

    <div class="map-control" id="" style="background: rgba(255, 255, 255, 0);z-index: 10;position: absolute;top:0;right:0;margin-top: 6px;margin-right:80px; display:block;border: none !important;box-shadow: none !important;">
        @*<div id="" class="btn btn-xs btnCloseMap" style="background: #ffa500cc;border-radius: 5px;padding-left:20px !important;padding-right:20px !important;font-size: 13px !important;">
                <i class="fa fa-close"></i>
            </div>*@
        <a href="#" id="" title="Close" style="color:red;border: 2px solid orange !important;" class="btnCloseMap waves-effect waves-light text-red notification-icon-box"><i class="fas fa-close"></i></a>

    </div>


</div>









@* -------------------------------------- Confirm Modal -------------------------------------- *@

<div class="modal fade modal-default" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; z-index:9999999;" data-backdrop="static" aria-hidden="true">
    <form method="post" role="form" id="frmagents1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" style="">
                    <h4 style="color:black;"><strong id="cornfimTitle1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="close" style="position: absolute"></div>
                </div>

                <div class="register-box-body">
                    <br />
                    <label class="" id="lblConfirmMessage">WARNING: A selected user will be removed completely</label><br />
                    <label class="" id="lblSubConfirmMessage">Do you want to continue?</label>
                    <br />
                    <br />
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnCancelRequest" data-dismiss="modal" aria-label="close" class="btn btn-danger">No</button>
                    <button type="button" id="btnConfirm" class="btn btn-success" style="background-color:#32a932;">Yes</button>
                    <button type="button" id="btnConfirmActive" class="btn btn-success" style="background-color:#32a932;">Yes</button>
                </div>

            </div>
        </div>
    </form>
</div>





<div class="modal fade modal-default" id="confirmModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none;" aria-hidden="true">
    <form method="post" role="form" id="frmagesnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" style="color: #d79700">
                    <h4 style="color:black;"><strong id="cornfimsTitle1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="closee" style="position: absolute"></div>

                </div>

                <div class="register-box-body">
                    <br />

                    <label class="" id="lblMessage">WARNING: A selected user will be removed completely</label><br />
                    <label class="">Do you want to continue?</label>

                    <br />
                    <br />
                </div>

                <div class="modal-footer">
                    <button type="button" style="width: 100px" id="btnNo" data-dismiss="modal" aria-label="close" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i>No</button>
                    <button type="button" style="width: 100px" id="btnYes" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>Yes</button>
                </div>

            </div>
        </div>
    </form>
</div>

@* -------------------------------------- Confirm Modal ends -------------------------------------- *@





@* -------------------------------------- Confirm Modal -------------------------------------- *@

<div class="modal fade modal-default" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none; z-index: 999999999999999999" aria-hidden="true">
    <form method="post" role="form" id="frmagexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" id="msgHeader" style="color: red">
                    <h4><strong id="cornfixmTitle1" style="color: red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="clxose" style="position: absolute"></div>
                </div>

                <div class="register-box-body" style="margin-left:5%;">
                    <label class="message" id="message"></label>
                </div>

                <div class="modal-footer">
                    <button type="button" style="background-color:#32a932;" id="donee" data-dismiss="modal" aria-label="close" class="btn btnCloseError btn-default btn-flat btn-dark">Close</button>
                    <button type="button" style="display: none; background-color:#32a932;" id="btnContinue" class="btn btn-success">Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade modal-default" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none; z-index: 999999999999999999" aria-hidden="true">
    <form method="post" role="form" id="frmaxgexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header text-yellow" id="msgHxeader" style="color: #d79700">
                    <h4><strong id="cornfixmTixtle1" style="color: #d79700"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="clxxose" style="position: absolute"></div>
                </div>

                <div class="register-box-body" style="margin-left:5%;">
                    <label class="message" id=""></label>
                </div>

                <div class="modal-footer">
                    <button style="background-color:#32a932;" type="button" id="btninfoClos" data-dismiss="modal" aria-label="close" class="btn btn-warning">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade modal-success" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none; z-index: 999999999999999999" aria-hidden="true">
    <form method="post" role="form" id="frmasxgexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" id="msgHxseader" style="color: green">
                    <h4><strong id="cornfidxmTixtle1" style="color: green"><i class="fa fa-check" aria-hidden="true"></i> Success</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="clxdxose" style="position: absolute"></div>
                </div>

                <div class="register-box-body" style="margin-left:5%;">
                    <label class="message" id=""></label>
                </div>

                <div class="modal-footer">
                    <button style="background-color:#32a932;" type="button" id="btnSuccessButton" data-dismiss="modal" aria-label="close" class="donee btn btn-success bg-green">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="modal fade modal-warning" id="picModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; overflow-y: auto; z-index: 3333" aria-hidden="true">
    <div class="modal-dialog sizem cont" role="document" style="width: 100%; margin-top: 0px" oncontextmenu="return false" oncopy="return false" onpaste="return false" oncut="return false">
        <div class="modal-content modal-size" style="margin-left: 0px; border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">

            <div class="cont" style="height: 900px">
                <iframe id="iframee" src="" class="cont" style="height: 900px; width: 100%"></iframe>
                <div class="iv-close close" data-dismiss="modal" aria-label="close" style="position: absolute"></div>
            </div>

        </div>
    </div>
</div>



<div class="modal fade modal-default" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; z-index: 5555" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <form method="post" role="form" id="frmasgexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" style="color: red">
                    <h4><strong id="cornfixmTistle1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="clxozse" style="position: absolute"></div>
                </div>

                <div class="register-box-body">
                    <label class="" id="messages">Do you want to save the changes you have made?</label>
                </div>

                <div class="modal-footer">
                    <button type="button" aria-label="close" class="btn btn-danger cancelBtn pull-left">Cancel Changes</button>
                    <button type="button" id="btnSaveChanges" style="background-color:#32a932;" class="btn btn-success pull-right">Save Changes</button>
                </div>

            </div>
        </div>
    </form>
</div>






<div class="modal fade modal-default" id="monthPickerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; z-index: 5555; background-color: transparent; text-align: center" data-backdrop="static" aria-hidden="true">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="monthPicker ">
            <div class="monthPicker-top">
                <button class="monthPicker-top-action btn" data-dir="down">
                    <span class="fa fa-angle-left"></span>
                </button>
                <button class="monthPicker-top-current btn">
                    <span class="currentYear" min="1900" max="2100">2017</span>
                </button>
                <button class="monthPicker-top-action btn" data-dir="up">
                    <span class="fa fa-angle-right"></span>
                </button>
            </div>
            <div class="monthPicker-body">
                <a href="#" id="01" class="monthPicker-body-month"><span>Jan.</span></a>
                <a href="#" id="02" class="monthPicker-body-month"><span>Feb.</span></a>
                <a href="#" id="03" class="monthPicker-body-month"><span>Mar.</span></a>
                <a href="#" id="04" class="monthPicker-body-month"><span>Apr.</span></a>
                <a href="#" id="05" class="monthPicker-body-month"><span>May</span></a>
                <a href="#" id="06" class="monthPicker-body-month"><span>June</span></a>
                <a href="#" id="07" class="monthPicker-body-month"><span>July</span></a>
                <a href="#" id="08" class="monthPicker-body-month"><span>Aug.</span></a>
                <a href="#" id="09" class="monthPicker-body-month"><span>Sep.</span></a>
                <a href="#" id="10" class="monthPicker-body-month"><span>Oct.</span></a>
                <a href="#" id="11" class="monthPicker-body-month"><span>Nov.</span></a>
                <a href="#" id="12" class="monthPicker-body-month"><span>Dec.</span></a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>









<div class="modal fade modal-default" id="requestPermModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="z-index: 99922" aria-hidden="true">
    <form method="post" role="form" id="frmaxgdexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header text-yellow" id="msgHxdeader" style="color: red">
                    <h4><strong id="cornfixmTidxtle1"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="clxxosde" style="position: absolute"></div>
                </div>
                <div class="register-box-body">
                    <label class="lblMsg" id="">Request Permission</label>
                    <br />
                    <button type="button" id="btnRequest" class="btn btn-success">Request Now</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="modal fade modal-default" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; z-index: 99922" aria-hidden="true" data-backdrop="static">
    <form method="post" role="form" id="frmaxgedxnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header text-yellow" id="msgHsxeader" style="color: red">
                    <h4><strong id="cornfixmTisdxtle1"><i class="fa fa-lock" aria-hidden="true"></i>Session About To Timeout</strong></h4>
                    <div class="iv-close close" data-dismiss="modal" aria-label="close" id="clxxosse" style="position: absolute"></div>
                </div>
                <div class="register-box-body" style="color: black; height: 100px;">
                    <div class="no-border bold " style="color: black; height: 50px; font-weight: bold; font-size: 16px">
                        You will be automatically logged out in
                        <span class="timeleft text-red" style="font-size: 16px">00</span>
                        Seconds.
                        <br />
                        To remain logged in Continue.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnLogoutNow" class="btn btn-danger pull-left">Logout Now</button>
                    <button type="button" id="btnContinuee" class="btn btn-success" style="background-color:#32a932;">Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>







<div class="modal fade modal-default" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="display: none; z-index: 999999999999999999" aria-hidden="true">
    <form method="post" role="form" id="frmagexnts1" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-header" id="msgHeader">
                    <h4><strong id="cornfixmTitle1" style="color: rgba(0,0,0,0.75);"><img width="40" src="~/Content/Images/connectionIcon.png" /> Connection Problem</strong></h4>
                </div>

                <div class="register-box-body" style="margin-left:5%;">
                    <div style="width:100%; text-align:left;display:none;background-color:transparent;" class="badge badge-secondary cls_net_progress_bar">
                        <div class="progress" style="width:100%;margin-top:0px;">
                            <div class="progress-bar progress-bar-dark progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>

                    <label class="message_connection" id="message_connection"></label>
                </div>

                <div class="modal-footer">
                    <button type="button" style="background-color:#32a932;" id="donee" data-dismiss="modal" aria-label="close" class="btn btnCloseError btn-default btn-flat btn-sm btn-dark">Close</button>
                    <button type="button" style="background-color:#32a932;" id="btnRetryConnection" class="btn btn-success btn-sm">Retry</button>
                </div>
            </div>
        </div>
    </form>
</div>