﻿<!-- begin #header -->
<!-- Top Bar Start -->


<span id="lblClientID" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["clientid"]</span>
<span id="lblUserID" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["userId"]</span>
<span id="lblFullName" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["fullname"]</span>
<span id="lblUsername" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["username"]</span>
<span id="lblUserRole" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["userRole"]</span>
<span id="lblDeviceId" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["device_id"]</span>
<span id="lblPersonId" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["person_id"]</span>


@* -------------------------- Municipality ----------------------------------- *@

<span id="user_session_counrty" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_counrty"]</span>
<span id="user_session_province" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_province"]</span>
<span id="user_session_city" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_city"]</span>
<span id="user_session_counrty_code" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_counrty_code"]</span>
<span id="user_session_province_code" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_province_code"]</span>
<span id="user_session_province_code" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_province_code"]</span>
<span id="user_session_continent_code" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_continent_code"]</span>

<span id="user_session_continent" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_continent"]</span>
<span id="user_session_ip" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_ip"]</span>
<span id="user_session_id" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_id"]</span>
<span id="user_session_latitude" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_latitude"]</span>
<span id="user_session_longitude" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["user_session_longitude"]</span>

<span id="region_id" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["region_id"]</span>
<span id="region_name" hidden class="hidden-xs">@Request.Cookies["ASCruiseSafeUser"]["region_name"]</span>

<span id="user_session_office_location" hidden class="hidden-xs">-26.2024698,28.0357017</span>
<span id="user_session_office_latitude" hidden class="hidden-xs">-26.2024698</span>
<span id="user_session_office_longitude" hidden class="hidden-xs">28.0357017</span>
<span id="user_session_office_address" hidden class="hidden-xs">Johannesburg Roads Agency, 75 Helen Joseph St, Johannesburg, 2000</span>


<div class="topbar">
    <div class="topbar-left" style="background:orange">
        <div class="text-center" style="margin-top:39px;position:absolute;left:0;top:0;height:175px;background:orange;border-bottom:1px solid #cecece;width:100%;color:white;  border-bottom-right-radius: 20px;">
            <a href="/Home/Menu" class="logo">
                <img style="width:70%;height:50%;margin-left:30px;margin-right:50px;border-radius:7px" src="~/Content/Images/jra_city.png" />
                <span style="background-color:rgba(0, 0, 0, 0.00);color:white">JRA-Fixit</span>
            </a><br /> <br /><a style="margin-top:0px" href="/Home/Menu" class="logo-sm"><span style="background-color:rgba(0, 0, 0, 0.00);color:white">JRA</span></a>
        </div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left noDashTop">
                    <button type="button" class="button-menu-mobile open-left waves-effect waves-light"> <i class="fas fa-align-justify"></i> </button> <span class="clearfix"></span>
                </div>
                <form class="navbar-form pull-left noDashTop" role="search">
                    <div class="form-group">
                        <input type="text" id="txtSearch" class="form-control search-bar" placeholder="Search...">
                    </div>
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                </form>

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown hidden-xs noDashTop">
                        <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light notification-icon-box" data-toggle="dropdown" aria-expanded="true"> <i class="fas fa-bell"></i> <span class="badge badge-xs badge-danger"></span> </a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="text-center notifi-title">Notification <span class="badge badge-xs badge-success">3</span></li>
                            <li class="list-group">
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-heading">Your order is placed</div>
                                        <p class="m-0"> <small>Dummy text of the printing and typesetting industry.</small> </p>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-body clearfix">
                                            <div class="media-heading">New Message received</div>
                                            <p class="m-0"> <small>You have 87 unread messages</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Your item is shipped.</div>
                                            <p class="m-0"> <small>It is a long established fact that a reader will</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item"> <small class="text-primary">See all notifications</small> </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <img src="~/Content/Images/default-user.png" alt="user-img" class="img-circle">
                            <span class="profile-username noDashTop">
                                @Request.Cookies["ASCruiseSafeUser"]["fullname"] <br>
                                @*<small>@Request.Cookies["ASCruiseSafeUser"]["username"]</small>*@
                                <small>@Request.Cookies["ASCruiseSafeUser"]["region_name"]</small>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"> Profile</a></li>
                            <li class="divider"></li>
                            <li><a id="btnLogout" href="javascript:void(0)"> Logout</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="pull-right" id="divFull">
                    <a href="#" id="btn-fullscreen" style="color:white" class="waves-effect waves-light notification-icon-box"><i class="fas fa-expand"></i></a>
                </div>
                <div class="pull-left noDashTop" id="">
                    <a href="#" id="btnSearch" title="Ticket Reference, Category, Sub-Category,VIP, Town or Status" style="color:white" class="waves-effect waves-light notification-icon-box"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


