﻿<style>
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
        margin: 10px 0;
    }
</style>

<div class="accountbg"></div>
<div class="accountbg1"></div>
@*<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages" style="background-color:rgba(0, 0, 0, 0.56)">
        <div class="panel-body">
            <h3 class="text-center m-t-0 m-b-15"> <a href="javascript:;" class="logo logo-admin"><span>Arrive</span>Alive</a></h3>
            <h4 class="text-muted text-center m-t-0"><b>Sign In</b></h4>
            <div class="form-horizontal m-t-20">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password">
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light">Log In</button>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-7"> <a href="javascript:;" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a></div>
                    <div class="col-sm-5 text-right"> <a href="javascript:;" class="text-muted">Create an account</a></div>
                </div>
            </div>
        </div>
    </div>
</div>*@



<div class="">
    <div class="row">

        @*<div class="col-md-1 arrive-alive-hide-for-mobile"></div>*@
        @*<div class="col-md-7 cls_dv_splash arrive-alive-hide-for-mobile" style="padding:10px;color:white">
            <h1 style="margin-left:30px;margin-top:50px">Cruise Safe</h1>


            <*@img hidden style="margin-top:-80px;" width="400" height="300" src="~/Content/Images/back_bluee.png">
        @*<div class="content" style="margin-top:8%;">
                <div class="gallery row">
                    <img style="width: 695px;" src="~/Content/Images/ArriveAliveSplash.png" />
                </div>
            </div>

            <footer class="footer" style="width:100%; left:0; background-color:transparent;">
                © 2019 Arrive Alive:: Developed by - Athandwe Solutions (Pty) Ltd.
            </footer>*@
        @*  *@
    </div>

    <span id="lblDeviceId" class="hidden" hidden></span>

    <div class="col-md-4"></div>
    <div class="col-md-4 arrive-alive-class-for-mobile" style="padding-left:30px;padding-right:30px; padding-top:30px">
        <div id="dvLoginArriveAlive" class="" style="background:white;border-radius:15px;">

            <div class="" align="center" style="height:150px; background:orange;border-top-left-radius:15px;border-top-right-radius:15px;padding:20px;">

                <img style="border-radius:10px;" height="100" src="~/Content/Images/jra_city.png" />
            </div>
            <div class="" align="center" style="padding:20px;">
                <h3 style="color:darkslategrey;">JRA-Fixit</h3>
            </div>
            <div class="form-horizontal" style="padding:0px; padding-left:50px;padding-right:50px;padding-bottom:60px">


                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" id="txtUsername" type="text" required="" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" id="txtPassword" type="password" required="" placeholder="Password">
                    </div>
                </div>
                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button id="btnSignIn" class="btn btn-primary btn-block btn-lg waves-effect waves-light">Log In</button>
                    </div>
                </div>
                <div class="form-group m-t-20 m-b-0">
                    <div class="col-sm-12 text-center"> <a href="javascript:;" class="text-muted" style="">Forgot password?</a></div>
                    @*<div class="col-sm-5 text-right"> <a href="javascript:;" class="text-muted">Create account</a></div>*@
                </div>
            </div>

            <h6 style="margin-left:20px;margin-bottom:0px">Athandwe Solutions</h6>
        </div>


        @*<div class="card" id="dvRightMainContent">
                <div class="card-body">

                    <br /><br /><br />
                    <h4 class="text-muted text-center m-t-0"><b>Sign In</b></h4>
                    <div class="form-horizontal m-t-20">
                        <div class="form-group">
                            <div class="col-12">
                                <input id="txtUsername" class="form-control signInRequired" type="text" required="" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <input id="txtPassword" class="form-control signInRequired" type="password" required="" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <span id="lblDeviceId" hidden class="hidden-xs"></span>
                            </div>
                        </div>
                        <div class="form-group text-center m-t-40">
                            <div class="col-12">
                                <button id="btnSignIn" style="background-color:#32a932;" class="btn btn-success btn-block btn-lg waves-effect waves-light"><i class="fas fa-sign-in-alt"></i> Log In</button>
                            </div>
                        </div>
                        <div class="form-group row m-t-30 m-b-0">
                            <div class="col-sm-7">
                                <a href="/as_smart_connects/password_recovery" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                            <div class="col-sm-5 text-right">
                                <a href="/as_smart_connects/register" class="text-muted"><i class="fas fa-user-plus"></i> Create an account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-md-4"></div>

</div>
