﻿<div class="left side-menu">

    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 388px;margin-top:150px">
        <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 388px;">
            @*<div class="user-details">
                <div class="text-center"> <img src="~/Content/Images/default-user.png" alt="" class="img-circle"> </div>
                <div class="user-info">
                    <p class="text-muted m-0"><i class="fa fa-dot-circle-o text-success"></i> Online</p>
                </div>
            </div>*@
            <div id="sidebar-menu">
                <ul>
                    <li class="active"> <a href="/Home/Menu" class="waves-effect active"><i class="mdi mdi-home"></i> Home  <span class="pull-right"><i class="fas fa-dot-circle"></i></span></a> </li>



                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" title="Administration"><i class="mdi mdi-account-multiple"></i> <span> Administration </span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">
                            @*<li class="Roles"><a href="/as_cruise_safe/privileges">Privileges  <i class="mdi mdi-account-multiple pull-right text-primary"></i></a></li>*@
                            @*<li class=""><a href="/as_cruise_safe/privilege_requests">Privileges Requests </a></li>*@
                            <li class="Roles"><a href="javascript:void(0);">Roles  <i class="mdi mdi-lock pull-right text-primary"></i></a></li>
                            <li class="Users"><a href="javascript:void(0);">Users <i class="mdi mdi-account-multiple pull-right text-primary"></i></a></li>
                            @*<li class=""><a href="/as_cruise_safe/security"> Security </a></li>*@
                        </ul>
                    </li>





                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" title="Organization"><i class="fas fa-sitemap"></i> <span> Organization </span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">
                            <li class="Regions"><a href="javascript:void(0);"> Regions </a></li>
                            <li class="Department"><a href="javascript:void(0);"> Departments </a></li>
                            <li class="Team"><a href="javascript:void(0);"> Teams </a></li>
                            <li class="Suppliers"><a href="javascript:void(0);"> Suppliers </a></li>

                        </ul>
                    </li>



                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" title="Settings"><i class="fas fa-gears"></i> <span> Settings </span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">
                            <li class="VIPs"> <a href="#" title="VIPs" class="waves-effect"><i class="mdi mdi-comment-question-outline"></i> VIP Contacts</a> </li>
                            <li class="TrafficLights"> <a href="#" title="Traffic Lights" class="waves-effect"><i class="mdi mdi-lightbulb-outline"></i> Traffic Lights</a> </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect" title="Mobile App"><i class="fas fa-mobile-alt"></i> <span> Mobile App </span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                                <ul class="list-unstyled">
                                    <li class="FAQs"> <a href="#" title="FAQs" class="waves-effect"><i class="mdi mdi-comment-question-outline"></i> FAQs</a> </li>
                                    <li class="Categories"> <a href="#" title="Categories" class="waves-effect"><i class="mdi mdi-file-document"></i> Categories </a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>





                    <li class="has_sub" hidden="hidden">
                        <a href="javascript:void(0);" class="waves-effect" title="Settings"><i class="fas fa-cogs"></i> <span> Settings </span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect" title="Settings"><span>Notifications</span><span class="pull-right"> <i class="fas fa-plus text-primary"></i></span></a>
                                <ul class="list-unstyled">
                                    <li class="btnEmailTypes"><a href="javascript:void(0);"> Email Types </a></li>
                                    <li class="btnManageEmails"><a href="javascript:void(0);"> Manage Emails </a></li>

                                    <li class="btnSMS"><a href="javascript:void(0);"> SMS Settings</a></li>
                                </ul>
                            </li>

                            <li class="Settings"><a href="javascript:void(0);"> Mobile App Settings </a></li>
                            <li class="btnSLA"><a href="javascript:void(0);">  SLA Settings </a></li>
                            @*<li class="Comments"><a href="javascript:void(0);"> Comments </a></li>*@
                        </ul>
                    </li>

                 

                    <li class="ReportedIssues"> <a href="#" title="Traffic Lights" class="waves-effect"><i class="mdi mdi-radiobox-marked"></i> Reported Issues  <span class="pull-right"><i class="fas fa-dot-circle text-primary"></i></span></a> </li>



                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" title="Support"><i class="fas fa-headset"></i> <span>Support</span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">
                            <li class="Reporting"><a href="javascript:void(0);"> Reports </a></li>
                            <li class="Inspections"><a href="javascript:void(0);"> Inspection  </a></li>
                            <li class="Fixings"><a href="javascript:void(0);"> Fixings </a></li>
                            <li class="Confirmations"><a href="javascript:void(0);"> Completed </a></li>
                        </ul>
                    </li>





                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" title="Dashboards"><i class="fas fa-chart-line"></i> <span>Dashboards</span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">
                            <li class="Dashboards"><a href="javascript:void(0);">Report Dashboards </a></li>
                            @*<li class="SupportDashboards"><a href="javascript:void(0);">Support Dashboards </a></li>*@

                        </ul>
                       
                    </li>





                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" title="Reports"><i class="fas fa-file-alt"></i> <span>Reports</span> <span class="pull-right"><i class="fas fa-plus text-primary"></i></span></a>
                        <ul class="list-unstyled">
                            <li class="DataReports"><a href="javascript:void(0);"> Reports </a></li>
                        </ul>
                    </li>




                    <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect" title="Help Centre"><i class="fas fa-question-circle"></i> Help Centre  <span class="pull-right"><i class="fas fa-dot-circle text-primary"></i></span></a> 
                    </li>



                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 179.37px; visibility: visible;"></div>
        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
</div>