﻿<div class="modal fade modal-warning" id="myLoad" tabindex="-1" role="dialog" aria-labelledby="myLoad" style="display: none; text-align: center; z-index: 999999999999999" aria-hidden="true" data-backdrop="static">
    <div class="row" style="color: white; height: 200px">
        <h4 id="loader">Loading...</h4>
    </div>

    <div class="row" style="height: 600px">
        <img height="160" src="/Content/Images/loading.gif" />
    </div>
</div>





<div class="modal fade bs-example-modal-sm myLoader" id="myLoader" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="z-index: 99999999999999999;background-color:rgba(0, 0, 0, 0.6)">
    <div class="modal-dialog modal-sm" style="padding-top:100px">
        <div class="" style=" text-align: center;">
            <h4 class="loader" style="color: white; margin-top:10px;">Please Wait...</h4>
        </div>
        <div id="" style="padding-top:60px; text-align:center;color:white">
            <i class="fas fa-spinner fa-5x fa-spin"></i>
        </div>

    </div>
</div>
