﻿<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="z-index: 99999999999999999">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
            <div class="modal-header" style="background-color: #32a932; color:white;">
                <h4 class="modal-title" style="text-align: center;color:white;">
@*                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>*@
                    <i class="fas fa-spinner fa-2x fa-spin"></i>
                    Please Wait...
                </h4>
            </div>

            <div class="modal-body">
                <div class="" style="">

                    <div id="modalLoaderMessageContainer" style="padding-left: 5%; padding-right: 5%;">
                        <div class="progress progress-striped active" style="display: none;">
                            <div class="progress-bar" style="width: 45%;"></div>
                        </div>
                        <div class="alert alert-dismissable alert-danger" id="txtModalLoaderAlertMessage" style="display: none;">
                            <b></b>
                            <button type="button" class="close" id="closeModalLoaderAlertMessage"><strong>x</strong></button>
                        </div>
                        <div class="alert alert-dismissable alert-success" id="txtModalLoaderSuccessMessage" style="display: none;">
                            <b></b>
                            <button type="button" class="close" id="closeModalLoaderSuccessMessage"><strong>x</strong></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal ends Here -->

