﻿<div class="modal fade modal-warning" id="permModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <form method="post" role="form" id="frmagentsa" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-size" style="border-bottom: 1px solid; -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 2px 9px rgba(0,0,0,0.75); box-shadow: -1px 1px 3px 5px rgba(0,0,0,0.75);">
                <div class="modal-body">
                    <div class="modal-header">
                        <h4>
                            <strong id="cornfimTitle1">Access denied</strong>                            
                            (<label style="color: red;font-size:15px;" id="" class="">Error Code : <strong style="color: red" id="eCode"></strong></label>)
                        </h4>
                    </div>
                    <div class="box  collapsed-box ">
                        <div class="box-header" style="">
                            <label id="cornfimTxt1" class=""><strong style="color: red;">You don't have permission for this module. Please contact your administrator.</strong> </label>
                        </div>
                        <div class="box-body" style="margin-top:5px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Would you like to request permission from the Administrator? </label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <textarea class="form-control" rows="3" id="txtRequestPermissionBodyMsg"></textarea>
                                    </div>
                                </div>
                                <button type="button" id="btnSubmitRequestForPermission" class="btn btn-flat btn-success asbtn bg-green"><i class="fa fa-save" aria-hidden="true"></i> Submit Request</button>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closse" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<!-- Modal ends Here -->
