﻿
@{
    ViewBag.Title = "Dashboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper" class="">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/cruise_safe/handlePrevleges.js"></script>
    <script src="~/Scripts/cruise_safe/handleSession.js"></script>



   
    @*<script src="~/Content/files/geo.js"></script>*@
    <script src="~/Scripts/cruise_safe/Reporting/DataReports.js"></script>

    @*--------------------- Session -----------------------*@





  


    @Html.Partial("~/Views/Shared/Partials/pvHeader.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvMenuBar.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Reporting/pvDataReports.cshtml")


</div>


