﻿
@{
    ViewBag.Title = "FAQs";
}


<div id="wrapper">





    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


    <script src="~/Scripts/cruise_safe/Reporting/FAQs.js"></script>
    @*--------------------- Session -----------------------*@
    <script src="~/Scripts/cruise_safe/handleSession.js"></script>
    <script src="~/Scripts/cruise_safe/handlePrevleges.js"></script>


    @Html.Partial("~/Views/Shared/Partials/pvHeader.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvMenuBar.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Reporting/pvFAQs.cshtml")
    @Html.Partial("~/Views/Shared/Partials/pvFooter.cshtml")

</div>
