﻿<link href="~/Content/cruise_safe/tui-grid.css" rel="stylesheet" />
<script src="~/Content/cruise_safe/tui-grid.js"></script>

<div id="myGrid"></div>


<script>

    var myData = [
        {
            id: 549731,
            name: 'Beagdfgutiful Lies',
            artist: 'Bifgdgdrdy',
            release: '2017.03.26',
            type: 'Deluxe',
            typeCode: '2',
            genre: 'Poph',
            genreCode: '1',
            grade: '4',
            price: 100500,
            downloadCount: 13000,
            listenCount: 7000
        }, {
            id: 549731,
            name: 'Beautiful Lies',
            artist: 'Bivvrdy',
            release: '2006.03.26',
            type: 'Delbnuxe',
            typeCode: '3',
            genre: 'Pop',
            genreCode: '1',
            grade: '8',
            price: 10000,
            downloadCount: 1000,
            listenCount: 5000
        }, {
            id: 549731,
            name: 'Beautiful Lies',
            artist: 'Birdy',
            release: '2016.03.26',
            type: 'Deluxe',
            typeCode: '1',
            genre: 'Pop',
            genreCode: '1',
            grade: '4',
            price: 10000,
            downloadCount: 1000,
            listenCount: 5000
        }
        // more data here
    ];

    var gridInstance = new tui.Grid({
        el: document.getElementById('myGrid'),
        data: myData,
        columns: [
            {
                title: 'Name',
                name: 'name'
            },
            {
                title: 'Artist',
                name: 'artist'
            },
            {
                title: 'Type',
                name: 'type'
            },
            {
                title: 'Release',
                name: 'release'
            },
            {
                title: 'Genre',
                name: 'genre'
            }
        ]
    });



</script>